
@import "../../common/scss/layouts/globals/fonts.scss";


.j-newsletter {
    background-color: $color-main;
    padding: 23px 0;
    
    @include breakpoint('mobile') {
        padding: 39px 0 35px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint('mobile') {
            flex-direction: column;
        }
    }

    .j-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 30px;

        .icon {
            margin-right: 10px;
        }
        
        h4 {
            font-size: 14px;
            line-height: 16px;
            font-family: $font-300;
            color: $color-white;

            strong {
                display: block;
            }
        }
    }


    form {
        position: relative;
        display: flex;
        align-items: center;

        @include breakpoint('mobile') {
            flex-direction: column;
        }

        fieldset {
            border: 0;

            @include breakpoint('mobile') {
                margin: 17px 0;
                width: 100%;
            }

            input {
                width: 266px;
                height: 45px;
                line-height: 45px;
                background-color: $color-white;
                border: 1px solid #CBCBCB;
                border-radius: 5px;
                padding: 0 20px;
                font-size: 14px;
                font-family: $font-300;
                color: $color-gray-7;
                text-align: left;
                margin-right: 35px;

                @include breakpoint('mobile') {
                    margin: 22px auto;
                    display: block;
                }
            }
        }

        .btn-newsletter {
            width: 127px;
            height: 45px;
            background-color: $color-white;
            border: 1px solid #CBCBCB;
            border-radius: 5px;
            text-align: center;
            color: $color-main;
            font-size: 14px;

            @include breakpoint('mobile') {
                display: block;
                margin: 8px auto;
            }
        }
    }

    .j-newsletter__success {
        display: none;

        &.is--active {
            display: block;
            color: $color-main;
            @include t1;
        }
    }
}