.y-header {
    &__topbar {
        background-color: $color-gray-8;
        color: $color-white;
        padding: 8px 0;
        font-size: 11px;
        font-weight: 400;
        line-height: 14px;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.y-mobile {
                display: none;
            }

            @include breakpoint('mobile') {
                &.y-desktop {
                    display: none;
                }
                &.y-mobile {
                    display: block;
                }

                p {
                    text-align: center;
                    color: $color-white;
                    font-size: 12px;
                    line-height: 17px;
                    font-weight: 400;
                    text-transform: uppercase;

                    strong {
                        font-weight: 800;
                    }
                }
            }
        }

        &--left {
            display: flex;
            align-items: center;

            svg {
                margin-right: 3px;

                path {
                    fill: $color-white
                }
            }
        }

        &--right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            &-middle {
                margin: 0 12px;
            }

            li,
            li a {
                color: $color-white;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 400;
                line-height: 14px;
            }
        }
    }

    &__top {
        width: 100%;
        
        padding: 10px 0 17px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include breakpoint('mobile') {
            justify-content: space-between;
        }

        &--left {

            @include breakpoint('mobile') {
                margin: 0 27px;
            }

            a {
                display: block;
            }
        }

        &--middle {
            @include breakpoint('desktop') {
                width: 48%;
                margin: 0 28px 0 30px;
            }

            .js--search-content {
                @include breakpoint('mobile') {
                    display: none;

                    &.is--active {
                        position: fixed;
                        bottom: 0;
                        left: 0;
                        z-index: 99999;

                        display: block;

                        width: 100%;
                        height: calc(100vh - 100px);
                        
                        background-color: $color-white;
                        border-top: 1px solid $color-gray-1;

                        padding: 15px 20px;
                    }
                }
            }

            .busca {
                border: none;
                position: relative;
                width: 100%;
                margin: 0 auto;

                &:before {
                    content: '\f002';
                    width: 31px;
                    height: 31px;
                    line-height: 31px;
                    font-size: 15px;
                    display: block;
                    position: absolute;
                    right: 2px;
                    top: 50%;
                    border-radius: 50%;
                    transform: translateY(-50%);
                    color: $color-white;
                    background-color: $color-main;
                    text-align: center;

                    @include breakpoint('mobile') {
                        background-color: $color-white;
                        color: $color-black;
                        font-size: 25px;
                        right: 8px;
                    }

                }
                
                legend,
                label,
                select {
                    display: none;
                }

                input[type="text"] {
                    
                    width: 100%;
                    border: 1px solid $color-gray-1;
                    border-radius: 50px;
                    background-color: $color-white;
                    
                    padding-left: 15px;
                    padding-right: 15px;
                    
                    color: $color-gray-7;
                    
                    transition: all 225ms ease;
                    height: 35px;
                    line-height: 35px;

                    font-family: $font-main;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;

                    @include breakpoint('mobile') {
                        border-radius: 0;
                        border: 0;
                        border-bottom: 1px solid $color-black;
                        padding: 0 15px;
                    }
                }

                .btn-buscar {
                    color: transparent;
                    font-size: 0;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    background-size: cover;
                    width: 26px;
                    height: 26px;
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &--right {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>div {
                padding: 0;
                text-align: center;

                a {
                    svg {
                        path {
                            fill: $color-black;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill: $color-main;
                            }
                        }
                    }
                }
            }
            &-minicart {

                @include breakpoint('desktop') {
                    margin-left: 29px;
                }
            }
        }
    }

    &__account {
        cursor: pointer;
        position: relative;

        &-icon {
            display: flex;
            align-items: center;

            span {
                &.icon {
                    height: 30px;
                    svg {
                        path {
                            fill: $color-black;
                        }
                    }
                }

                &:not(.icon) {
                    font-size: 14px;
                    font-weight: 400;
                    color: $color-gray-8;
                    margin-left: 9px;
                }
            }
        }

        &:hover {
            .y-header__account {
                &-icon {
                    .icon {
                        svg {
                            path {
                                fill: $color-main;
                            }
                        }
                    }
                    span,
                    span::after {
                        color: $color-main;
                    }
                }
            }
        }
    }
}