.y-header {
    background-color: $color-white;

    @include breakpoint('mobile') {
        border-bottom: 1px solid $color-gray-1;
    }

    &__top {
        width: 100%;
        
        padding: 27px 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint('mobile') {
            &--menu {
                display: flex !important;
                .icon-user {
                    margin-left: 20px;
                }
            }
        }

        &--left {
            @include breakpoint('desktop') {
                width: 10%;
                max-width: 120px;
            }

            @include breakpoint('mobile') {
                margin: 0 27px;
            }

            a {
                display: block;
            }
        }

        &--middle {
            @include breakpoint('desktop') {
                width: 70%;
                max-width: 836px;
                margin: 0 65px;
            }

            .js--search-content {
                display: none;
                
                @include breakpoint('mobile') {
                    &.is--active {
                        position: fixed;
                        bottom: 0;
                        left: 0;
                        z-index: 99999;

                        display: block;

                        width: 100%;
                        height: calc(100vh - 100px);
                        
                        background-color: $color-white;
                        border-top: 1px solid $color-gray-1;

                        padding: 15px 20px;
                    }

                    .y-close {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        font-size: 30px;
                        color: $color-black;
                        transform: rotate(-45deg);
                        z-index: 999;
                        cursor: pointer;
                    }
                }
            }

            .busca {
                border: none;
                position: relative;
                width: 90%;
                margin: 10px auto;

                &:before {
                    content: '\f002';
                    width: 31px;
                    height: 31px;
                    line-height: 31px;
                    font-size: 15px;
                    display: block;
                    position: absolute;
                    right: 2px;
                    top: 50%;
                    border-radius: 50%;
                    transform: translateY(-50%);
                    color: $color-white;
                    text-align: center;

                    @include breakpoint('mobile') {
                        color: $color-white;
                        font-size: 25px;
                        right: 25px;
                    }

                }
                
                legend,
                label,
                select {
                    display: none;
                }

                input[type="text"] {
                    
                    width: 100%;
                    border: 1px solid $color-gray-1;
                    border-radius: 50px;
                    background-color: $color-main;
                    
                    padding-left: 15px;
                    padding-right: 15px;
                    
                    color: $color-white;
                    
                    transition: all 225ms ease;
                    height: 35px;
                    line-height: 35px;

                    font-family: $font-main;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;

                    @include breakpoint('mobile') {
                        border-radius: 0;
                        border: 0;
                        border-bottom: 1px solid $color-white;
                        padding: 0 15px;
                        text-align: center;
                    }
                }

                .btn-buscar {
                    color: transparent;
                    font-size: 0;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    background-size: cover;
                    width: 26px;
                    height: 26px;
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);

                    @include breakpoint('mobile') {
                        right: 25px;
                    }
                }
            }
        }

        &--right {
            @include breakpoint('desktop') {
                width: 20%;
            }

            display: flex;
            align-items: center;
            justify-content: space-between;

            &>div {
                padding: 0;
                text-align: center;

                a {
                    svg {
                        path {
                            fill: $color-black;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill: $color-main;
                            }
                        }
                    }
                }
            }

            .js--open-search {

                span {
                    font-size: 14px;
                    line-height: 40px;
                    color: $color-black;
                    font-weight: 500;
                    margin-right: 5px;
                }
            }
            
            &-minicart {
                @include breakpoint('desktop') {
                    margin-left: 29px;
                }
            }
        }
    }

    &__account {
        cursor: pointer;
        position: relative;

        &-icon {
            display: flex;
            align-items: center;

            span {
                &.icon {
                    height: 30px;
                    svg {
                        path {
                            fill: $color-black;
                        }
                    }
                }

                &:not(.icon) {
                    font-size: 14px;
                    font-weight: 400;
                    color: $color-gray-8;
                    margin-left: 9px;
                }
            }
        }

        &:hover {
            .y-header__account {
                &-icon {
                    .icon {
                        svg {
                            path {
                                fill: $color-main;
                            }
                        }
                    }
                    span,
                    span::after {
                        color: $color-main;
                    }
                }
            }
        }
    }
}