.y-header {
    &__menu {
        width: 100%;
        background-color: $color-white;
        position: relative;

        @include breakpoint('mobile') {
            opacity: 0;

            position: fixed;
            top: 110px;
            left: -10000000px;

            width: 100vw;
            height: calc(100vh - 112px);
            overflow-y: auto;

            border-top: 0;
            background-color: $color-main;
            z-index: 99999999;

            padding: 0;

            transition: all .4s;

            &.is--active {
                left: 0;
                opacity: 1;

                .y-close {
                    right: 0;
                }

            }

            .y-close {
                display: none;

                position: fixed;
                top: 0;
                right: 100vw;
                
                width: 17%;
                height: 55px;
                line-height: 55px;
                
                background-color: $color-gray-8;

                transition: all .4s;

                span {
                    display: block;
                    color: $color-white;
                    font-size: 40px;
                    font-family: $font-300;
                    text-align: center;
                    transform: rotate(45deg);
                }
            }

            .container {
                max-width: 100%;
            }
        }

        &-list {
            display: flex;

            @include breakpoint('mobile') {
                display: block;
            }

            li {
                margin: 0 20px;

                &:nth-child(2) {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                @include breakpoint('mobile') {
                    margin: 0;
                    padding: 0 21px;

                    &.is--active {
                        padding: 0;
                        background-color: $color-white;

                        > a {
                            padding: 0 21px;
                            color: $color-main;
                        }

                        .y-header__submenu {
                            display: block;
                        }
                    }
                }

                @include breakpoint('desktop') {
    
                    &:hover {
                        &>a {
                            color: $color-main;
                        }
    
                        .y-header__submenu {
                            display: block;
                        }
                    }
                }

                a, span {
                    font-size: 16px;
                    line-height: 40px;
                    color: $color-black;
                    text-transform: uppercase;
                    font-family: 'museo_sans_rounded500';

                    @include breakpoint('mobile') {
                        color: $color-white;
                    }
                }

                span {
                    text-transform: none;
                }
            }
        }
    }

    &__submenu {
        display: none;

        @include breakpoint('desktop') {
            position: absolute;
            left: 0;
            width: 730px;
        }

        background-color: $color-white;
        z-index: 9999;

        padding: 22px 20px 25px;
        width: 100%;

        &--title {
            
            span {
                font-size: 14px;
                font-family: $font-500;
                color: $color-main;
    
                &::after {
                    content: "";
                    width: 107px;
                    height: 1px;
                    background-color: $color-main;
                    display: block;
                    margin-top: 1.5px;
                }
            }
        }

        &--image {
            margin: 7px 0 45px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;

            &-item {

                @include breakpoint('desktop') {
                    margin-right: 50px;

                    a {
                        img {
                            max-width: 200px;
                        }
                    }
                }

                &:hover {
                    a {
                        p {
                            color: $color-main;
                        }
                    }
                }

                a {
                    display: block;
                    text-align: center;

                    p {
                        font-size: 12px;
                        line-height: 40px;
                        text-align: center;
                        color: $color-black;

                        @include breakpoint('mobile') {
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
}