.y-header {
    &__menu {
        width: 100%;
        background-color: $color-white;
        position: relative;

        @include breakpoint('mobile') {
            opacity: 0;

            position: fixed;
            top: 110px;
            left: -10000000px;

            width: 100vw;
            height: calc(100vh - 112px);
            overflow-y: auto;

            border-top: 0;
            background-color: $color-main;
            z-index: 99999999;

            padding: 0;

            transition: all .4s;

            &.is--active {
                left: 0;
                opacity: 1;

                .y-close {
                    right: 0;
                }

            }

            .y-close {
                display: none;

                position: fixed;
                top: 0;
                right: 100vw;
                
                width: 17%;
                height: 55px;
                line-height: 55px;
                
                background-color: $color-gray-8;

                transition: all .4s;

                span {
                    display: block;
                    color: $color-white;
                    font-size: 40px;
                    font-weight: 400;
                    text-align: center;
                    transform: rotate(45deg);
                }
            }

            .container {
                max-width: 100%;
            }
        }

        &-list {
            display: flex;

            @include breakpoint('mobile') {
                display: block;
            }

            li {
                margin: 0 21px;

                a {
                    font-size: 16px;
                    line-height: 40px;
                    color: $color-black;

                    @include breakpoint('mobile') {
                        color: $color-white;
                    }
                }
            }
        }
    }
}