.y-breadcrumb {
    .bread-crumb {
        ul {
            display: flex;

            li {
                display: flex;
                align-items: center;
                
                a {
                    display: block;
                    @include t1;
                    line-height: 26px;
                    color: $color-white;
                    text-transform: uppercase;

                    @include breakpoint('mobile') {
                        font-size: 10px;
                    }
                }

                &::before {
                    content: " / ";
                    display: inline-block;
                    @include t1;
                    line-height: 26px;
                    color: $color-white;
                    margin: 0 9px;

                    @include breakpoint('mobile') {
                        font-size: 10px;
                    }
                }

                &:first-child {
                    a {
                        font-size: 0;
                    }

                    &::before {
                        display: none;
                    }

                    &::after {
                        content: 'Home';
                        cursor: pointer;
                        @include t1;
                        line-height: 26px;
                        color: $color-white;
                        text-transform: uppercase;

                        @include breakpoint('mobile') {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}