<section class="j-newsletter">
    <div class="container">
        <div class="j-news__left">
            <p class="j-news__title">INSCREVA-SE NA NOSSA NEWSLETTER E RECEBA NOSSOS LANÇAMENTOS!</p>
        </div>

        <div class="j-news__right">
            <form id="j-form-news">
                <fieldset>
                    <input type="email" id="email-newsletter" class="input-newsletter" placeholder="Digite seu email" required="required"/>
                </fieldset>
                <button class="btn-newsletter" id="btn-newsletter">Enviar</button>
            </form>
            <div class="j-newsletter__success">
                <p>Cadastrado com sucesso!</p>
            </div>
        </div>
    </div>
</section>

<footer class="y-footer">
    <div class="container">
        <div class="y-footer__top">
            <div class="y-footer__top--item">
                <h6>Atendimento</h6>
                <ul>
                    <li>
                        <span>Seg a Sexta das 8:30 às 17:00 horas</span>
                    </li>
                    <li>
                        <p>
                            <vtex.cmc:iconphone /> (11)2081-7160
                        </p>
                    </li>
                    <li>
                        <p>
                            <vtex.cmc:iconemail /> vendas@highmed.com.br
                        </p>
                    </li>
                </ul>
            </div>
            <div class="y-footer__top--item">
                <h6>Highmed</h6>
                <ul>
                    <li>
                        <a href="/quem-somos">Quem Somos</a>
                    </li>
                    <li>
                        <a href="/fale-conosco">Fale conosco</a>
                    </li>
                </ul>
            </div>
            <div class="y-footer__top--item">
                <h6>Informações</h6>
                <ul>
                    <li>
                        <a href="/politica-de-troca-e-devolucao">Política de Troca e devolução</a>
                    </li>
                    <li>
                        <a href="/politica-de-frete">Política de Frete</a>
                    </li>
                    <li>
                        <a href="/politica-de-privacidade">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="/formas-de-pagamento">Formas de Pagamento</a>
                    </li>
                </ul>
            </div>
            <div class="y-footer__top--item">
                <h6>Qualidade &amp; Segurança</h6>
                <ul class="y-footer__top--item-secguranca">
                    <li>
                        <img src="/arquivos/vtex-pci-150.png" alt="vtex pci" />
                    </li>
                    <li>
                        <img src="/arquivos/selo-lets.png" alt="Lets" />
                    </li>
                    <li>
                        <img src="/arquivos/selo-fundacao.png" alt="fundacao" />
                    </li>
                    <li>
                        <img src="/arquivos/selo-iso.png" alt="iso9000" />
                    </li>
                    <li>
                        <img src="/arquivos/logopanda.png" alt="Panda" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="y-footer__bottom">
        <div class="container">
            <div class="y-footer__bottom--selos">
                <div class="y-footer__bottom--social">
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <vtex.cmc:iconinstagram />
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <vtex.cmc:iconfacebook />
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <vtex.cmc:iconpinterest />
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <vtex.cmc:icontwitter />
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <vtex.cmc:iconyoutube />
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <vtex.cmc:iconlinkedin />
                            </a>
                        </li>
                    </ul>
                </div>
                <img src="/arquivos/bandeiras-de-cartao.png" alt="formas de Pagamento" />
            </div>
            <div class="y-footer__bottom--copy">
                <p>HIGHMED Soluções em Tecnologia de Medição Ltda - ME - CNPJ. 11.460.602/0001-48 - R Cel Carlos Oliva, 277 - Tatuapé - São Paulo-SP - CEP: 03067-010</p>
                <p>© 2020 Highmed. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>