<section class="j-newsletter">
    <div class="container">
        <div class="j-title">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="33.669" height="23.99" viewBox="0 0 33.669 23.99"><g transform="translate(0 -33.085)"><path d="M170.179,48.92c0-.038.026-.076.025-.114l-10.275,9.9,10.262,9.584c.006-.068-.012-.138-.012-.207V48.92Z" transform="translate(-136.534 -13.421)" fill="#fff"/><path d="M31.226,126.9l-4.194,4.036a1.1,1.1,0,0,1-1.509.012l-4.183-3.9L11.01,137.007a2.38,2.38,0,0,0,.8.16H40.728a2.378,2.378,0,0,0,1.154-.318Z" transform="translate(-9.399 -80.093)" fill="#fff"/><path d="M22.092,48.543,37.773,33.438a2.376,2.376,0,0,0-1.211-.353H7.647a2.383,2.383,0,0,0-1.517.566Z" transform="translate(-5.233)" fill="#fff"/><path d="M0,52.1V70.895a2.386,2.386,0,0,0,.1.623l10.2-9.824Z" transform="translate(0 -16.233)" fill="#fff"/></g></svg>
            </span>
            <h4>Cadastre-se para receber <br/> promoções e novidades</h4>
        </div>
        <form id="j-form-news">
            <fieldset>
                <input type="text" id="name-newsletter"  class="input-newsletter" placeholder="Nome" required="required"/>
                <input type="email" id="email-newsletter" class="input-newsletter" placeholder="E-mail" required="required"/>
            </fieldset>
            <button class="btn-newsletter" id="btn-newsletter">Enviar</button>
        </form>
        <div class="j-newsletter__success">
            <p>Cadastrado com sucesso!</p>
        </div>
    </div>
</section>