<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Desktop-Head" />
    <link rel="stylesheet" href="/arquivos/store-desktop-account.css" />
</head>

<body>
    <vtex:template id="Store-Desktop-Header" />
    
    <main>
        <section id="orders-content" class="container">
        	<vtex.cmc:orderList/>
        </section>
    </main> 

    <vtex:template id="Store-Desktop-Footer" />
    <vtex:template id="Store-Desktop-Scripts" />
</body>
</html>