<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Desktop-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="/arquivos/store-desktop-empty-search.css" />
</head>

<body>
    <vtex:template id="Store-Desktop-Header" />
    
    <main>
        <div class="container">
            <div class="j-empty__content">
                <strong>500</strong>
                <p>
                    Estamos com problemas em nosso servidor =( <br/>

                    Recarregue a página ou volte para a página inicial
                </p>
                
                <a href="/">
                    Voltar
                </a>
            </div>
        </div>
    </main> 

    <vtex:template id="Store-Desktop-Footer" />
    <vtex:template id="Store-Desktop-Scripts" />
</body>
</html>