<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="/arquivos/store-empty-search.css" />
</head>

<body>
    <vtex:template id="Store-Header" />
    
    <main>
        <div class="container">
            <div class="y-empty__content">
                <div class="y-empty__title">
                    <strong>Ops,</strong>
                    <span>está página<br/>não foi encontrada</span>
                </div>
            </div>
                
            <section class="y-find">
                <h4 class="y-title">O que você <strong>procura?</strong></h4>

                <div class="y-find__slick">
                    <vtex:contentPlaceHolder id="O que vc procura" />
                </div>
            </section>

            <section class="y-brand y-desktop">
                <h4 class="y-title">Nossas <strong>Marcas</strong></h4>
    
                <div class="y-brand__slick">
                    <vtex:contentPlaceHolder id="Marcas" />
                </div>
            </section>
        </div>
    </main>

    <vtex:template id="Store-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Scripts" />
    <script type="text/javascript" src="/arquivos/store-empty-search.js"></script>
</body>
</html>