<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Desktop-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="/arquivos/store-desktop-empty-search.css" />
</head>

<body>
    <vtex:template id="Store-Desktop-Header" />
    
    <main>
        <div class="container">
            <div class="y-empty__content">
                <h2 class="y-empty__title">No hay resultados para <span class="js--term"></span></h2>
            </div>

            <section class="y-mosaico">
                <div class="y-mosaico--item">
                    <vtex:contentPlaceHolder id="Banner Principal" />
                </div>
                <div class="y-mosaico--item">
                    <vtex:contentPlaceHolder id="Banner menores" />
                </div>
            </section>
                
            <section class="y-home__shelfs">
                <div class="has--line">
                    <h3 class="y-shelf__title">OFERTAS</h3>
                    <span></span>
                </div>
                <vtex:contentPlaceHolder id="Vitrine" />
            </section>
        </div>
    </main>

    <vtex:template id="Store-Desktop-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Desktop-Scripts" />
    <script type="text/javascript" src="/arquivos/store-desktop-empty-search.js"></script>
</body>
</html>