<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Desktop-Head" />
    <vtex:template id="Store-Common-Styles" />
</head>

<body>
    <vtex:template id="Store-Desktop-Header" />

    <section id="login-content" class="container">
        <vtex.cmc:userLogin/>
    </section>

    <vtex:template id="Store-Desktop-Footer" />
    <vtex:template id="Store-Desktop-Scripts" />
</body>

</html>