<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <title>
        <vtex:contentPlaceHolder id="Title Page - Tab" />
    </title>
    <vtex:template id="Store-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="/arquivos/store-home.css" />
</head>

<body>
    <vtex:template id="Store-Header" />

    <main>
        <section class="y-banner__main y-desktop">
            <vtex:contentPlaceHolder id="Banners Slider Principal" />
        </section>
        
        <section class="y-banner__main y-mobile">
            <vtex:contentPlaceHolder id="Banners Slider Principal Mobile" />
        </section>

        <vtex:template id="Store-Benefits" />

        <div class="container">
            <section class="y-home__shelfs">
                <h4 class="y-title">Nossos <strong>Destaques</strong></h4>
                <vtex:contentPlaceHolder id="Vitrine 1" />
            </section>
        </div>
    
        <section class="y-sac">
            <div class="y-sac__title">
                <h1>Atendimento <strong>Diferenciado</strong></h1>
                <p>Não tem certeza se o produto te atende? Tem dúvidas técnicas?</p>
                <p>Conte com nossos consultores para te auxiliar.</p>
            </div>
            <div class="container">
                <div class="y-sac__option">
                    <div class="y-sac__option--item">
                        <div class="y-sac__option--item-img">
                            <img src="/arquivos/sac-1.png" alt="SAC" />
                        </div>
                        <div class="y-sac__option--item-info">
                            <h3 class="y-sac__option--item-title">Suporte na Compra</h3>
                            <p class="y-sac__option--item-description">Não sabe qual o melhor produto para sua necessidade? Nosso consultor está aqui para te ajudar!</p>
                            <a href="#">
                                <vtex.cmc:iconwhatsapp /> EU QUERO
                            </a>
                        </div>
                    </div>
                    <div class="y-sac__option--item">
                        <div class="y-sac__option--item-img">
                            <img src="/arquivos/sac-2.png" alt="SAC" />
                        </div>
                        <div class="y-sac__option--item-info">
                            <h3 class="y-sac__option--item-title">SAC</h3>
                            <p class="y-sac__option--item-description">Dúvidas com seu pedido ou orçamento? Estamos aqui para te ajudar!</p>
                            <a href="#">
                                <vtex.cmc:iconwhatsapp /> EU QUERO
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="container">
        <section class="y-find">
            <h4 class="y-title">O que você <strong>procura?</strong></h4>

            <div class="y-find__slick">
                <vtex:contentPlaceHolder id="O que vc procura" />
            </div>
        </section>

        <section class="y-brand y-desktop">
            <h4 class="y-title">Nossas <strong>Marcas</strong></h4>

            <div class="y-brand__slick">
                <vtex:contentPlaceHolder id="Marcas" />
            </div>
        </section>

    </div>

    <vtex:template id="Store-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Scripts" />
    <script type="text/javascript" src="/arquivos/store-home.js"></script>
</body>
</html>