<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="Store-Head" />
    <vtex:template id="Store-Common-Styles" />
    <link rel="stylesheet" href="/arquivos/store-institucional.css" />
</head>

<body>
    <vtex:template id="Store-Header" />
    
    <main>
        <div class="container">
            <div class="y-institucional__content">
                <vtex:contentPlaceHolder id="Banner topo" />
                <vtex:contentPlaceHolder id="Text 1" />
                <vtex:contentPlaceHolder id="Banner Bottom" />
                <vtex:contentPlaceHolder id="Text 2" />
            </div>
        </div>
    </main>

    <vtex:template id="Store-Footer" />
    <vtex:template id="Store-Common-Scripts" />
    <vtex:template id="Store-Scripts" />
</body>
</html>