@import "../../common/scss/layouts/globals/fonts.scss";

.y-shelf {
    margin: 0 0 120px;
    
    >h2 {
        display: none;
    }
    
    >ul {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        position: relative;

        li[layout*="-"] {
            
            @include breakpoint('desktop') {
                width: 22%;
                margin: 5px 10px;
            }
        }
    }

    &__item {
        border: 0.5px solid $color-gray-1;
        background-color: $color-white;
        padding: 6px 15px 15px;
        min-height: 300px;

        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                display: block;
                img {
                    height: auto;
                    display: block;
                }
            }
        }

        &-compared {
            width: 100%;
            text-align: center;
            margin: 5px auto;

            @include breakpoint('mobile') {
                display: none;
            }

            fieldset {
                border: 1px solid $color-gray-2;
                border-radius: 50px;
                position: relative;
                width: 100%;
                max-width: 115px;
                height: 26px;
                margin: 0 auto 7px;
                
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }

                label {
                    line-height: 26px;
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: uppercase;

                    &::before {
                        content: "\f055";
                        color: $color-gray-8;
                        position: absolute;
                        left: 4px;
                        font-size: 18px;
                    }
                }
            }
        }

        &-name {
            overflow: hidden;
            height: 36px;
            margin: 5px 0 9px;

            a {
                display: block;
                font-size: 12px;
                font-weight: bold;
                color: $color-gray-8;
                line-height: 18px;
                text-transform: uppercase;
            }
        }

        &--price {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            
            &-old {
                font-size: 11px;
                line-height: 15px;
                font-weight: 400;
                color: $color-gray-8;
                text-decoration: line-through;
                margin-right: 15px;
            }

            &-new {
                font-size: 14px;
                line-height: 20px;
                font-weight: bold;
                color: $color-gray-8;
            }

            &--installment {
                width: 100%;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $color-gray-8;
                
                strong {
                    font-weight: bold;
                }
            }
        }

        &-outStcok-text {
            font-weight: 400;
            font-size: 14px;
            color: $color-gray-8;
            width: 100%;
            max-width: 157px;
            height: 32px;
            line-height: 32px;
            border: 1px solid $color-gray-6;
            border-radius: 20px;
            margin: 16px auto;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.y-home__shelfs {
    ul {
        li .product {
            background-color: $color-white;
            padding: 14px 30px;
            border: 1px solid #f5f5f5;
            min-height: 373px;

            .percent,
            .add-fav,
            .action-control,
            .x-flags {
                display: none;
            }

            .image {
                margin-bottom: 45px;
            }

            .description {
                width: 100%;
                height: 46px;
                overflow: hidden;
                margin-bottom: 15px;
                
                h4 a {
                    font-size: 16px;
                    font-weight: 700;
                    color: $color-gray-8;
                    line-height: 23px;
                }
            }

            .preco {
                .valor-por {
                    font-style: normal;

                    strong {
                        font-size: 18px;
                        line-height: 23px;
                        font-weight: 700;
                        color: $color-gray-8;
                    }
                }
            }

            .valor-dividido {
                font-style: normal;
                
                .x-installment {
                    font-style: normal;
                    font-size: 16px;
                    font-weight: 300;
                    color: $color-gray-8;
                    line-height: 20px;
                    
                    strong {
                        font-style: normal;
                        font-weight: $color-gray-8;
                    }
                };
            }
        }
    }
}