@import "../../common/scss/layouts/globals/fonts.scss";

.y-shelf {
    margin: 0 0 35px;
    
    >h2 {
        display: none;
    }
    
    >ul {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        position: relative;

        li[layout*="-"] {
            
            @include breakpoint('desktop') {
                // width: 22%;
                margin: 5px 10px;
            }
        }
    }

    &__item {
        background-color: $color-white;
        margin: 40px auto;
        display: block;
        position: relative;
        
        &:hover {
            .y-shelf__item {
                &-content {
                    // padding-bottom: 0;
                }
                
                &--buy {
                    opacity: 1;
                    bottom: 0;
                }
            }
        }

        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            
            a {
                display: block;

                img {
                    height: auto;
                    display: block;
                }
            }
        }

        &-content {
            padding-bottom: 110px;
        }

        &-name {
            overflow: hidden;
            height: 40px;
            margin: 17px 0;

            a {
                display: block;
                font-size: 18px;
                font-family: $font-300;
                font-weight: 300;
                color: $color-gray-8;
                line-height: 20px;
                text-align: center;
            }
        }

        &--price {
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 1px solid #CBCBCB;
            padding: 21px 0;
            position: relative;

            &::before {
                content: "";
                width: 1px;
                height: 100%;
                display: block;
                background-color: #CBCBCB;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &::after {
                content: "ou";
                color: $color-main;
                font-size: 11px;
                line-height: 22px;
                margin: 2px auto;
                font-family: $font-main;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background-color: $color-white;
            }
            
            &-old {
                font-size: 16px;
                line-height: 21px;
                font-family: $font-300;
                color: #939393;
                text-decoration: line-through;
                margin-bottom: 10px;
                text-align: center;
            }

            &-new {
                font-size: 26px;
                line-height: 28px;
                font-family: $font-700;
                color: $color-black;
                text-align: center;
            }
        }
        
        &--box {
            width: 50%;
            text-align: center;
        }

        &--avista {
            width: 50%;
            text-align: center;

            span {
                font-size: 16px;
                line-height: 21px;
                font-family: $font-300;
                color: #939393;
            }
            
            strong {
                display: block;
                color: #39A367;
                font-size: 26px;
                line-height: 29px;
                font-family: $font-700;
            }
        }

        &--buy {
            margin: 20px auto 35px;
            background-color: $color-main;
            color: $color-white;
            text-align: center;
            font-size: 14px;
            width: 240px;
            height: 60px;
            line-height: 60px;
            border-radius: 5px;
            display: block;
            position: relative;
            transition: all .4s;
            transform: none;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-family: 'museo_sans_rounded700';
            
            
            @include breakpoint('desktop') {
                opacity: 0;
                bottom: 60px;
            }
            
            svg {
                line-height: 60px;
                margin-right: 10px;
            }

            &::after {
                content: "";
                width: 324px;
                height: 1px;
                background-color: $color-main;
                display: block;
                margin: 37px auto 0;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-outStcok-text {
            font-family: $font-300;
            font-size: 14px;
            color: $color-gray-8;
            width: 100%;
            max-width: 157px;
            height: 32px;
            line-height: 32px;
            border: 1px solid $color-gray-6;
            border-radius: 20px;
            margin: 16px auto;
            text-align: center;
            text-transform: uppercase;
        }
    }
}