@import '../../../tools/breakpoint';
@import '../../globals/fonts.scss';

.y-benefits {
    display: block;
    background-color: $color-white;
    
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 16px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        svg {
            path {
                color: $color-black;
            }
        }
        
        p {
            strong {
                display: block;
                font-family: $font-main;
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
            }

            font-family: $font-main;
            margin-left: 10px;
            font-size: 12px;
            font-weight: 400;
            line-height: 13px;
            color: $color-black;
        }
    }
}