.y-atendimento {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999999999999;
    
    width: 100%;
    max-width: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__box {
        background: url("/arquivos/bg-atendimento.png") no-repeat center top #FFF;
        padding: 28px 25px 25px;
        margin-bottom: 16px;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        text-align: left;

        transition: all .4s;
        opacity: 1;
        height: auto;
    }

    &__title {
        p {
            font-size: 12px;
            line-height: 20px;
            color: $color-white;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            max-width: 200px;

            strong {
                font-weight: 700;
            }
        }
    }

    &__option {
        display: block;
        width: 100%;
        margin-top: -17px;

        &--item {
            display: block;
            background-color: $color-white;
            border: 1px solid $color-white;
            border-radius: 5px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
            
            padding: 17px 13px;

            margin: 26px auto 0;

            &-img {
                display: inline-block;
                vertical-align: middle;

                img {
                    width: 56px;
                }
            }

            &-info {
                display: inline-block;
                vertical-align: middle;
                padding-left: 12px;
                width: calc(100% - 60px);
            }
            
            &-title {
                text-transform: uppercase;
                color: $color-gray-8;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                margin-bottom: 3px;
            }
            
            &-description {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: $color-gray-8;
            }
        }
    }

    &__close {
        display: inline-block;

        cursor: pointer;

        width: 40px;
        height: 40px;
        line-height: 40px;

        background-color: $color-green;
        border-radius: 50%;

        text-align: center;

        transition: all .4s;
        opacity: 1;
        height: auto;
        
        span {
            display: block;

            text-align: center;
            color: $color-white;
            font-size: 40px;

            transform: rotate(45deg);
        }
    }
    
    &__whatsapp {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: $color-green;
        border-radius: 30px;

        width: 225px;
        height: 40px;
        
        padding-left: 16px;
        padding-right: 10px;
        
        text-align: left;

        transform: all .4s;
        opacity: 1;
        height: auto;
        
        span {
            color: $color-white;
            font-size: 14px;
            font-weight: 400;
            line-height: 40px;
        }
        
        i {
            
            &::before {
                content: "\f232";
                font-family: FontAwesome;
                color: $color-white;
                font-size: 28px;
                font-style: normal;
            }
        }
    }
}