.y-footer {
    display: block;
    width: 100%;
    height: auto;

    &__top {
        width: 100%;
        padding: 31px 0 36px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include breakpoint('mobile') {
            flex-wrap: wrap;
        }

        &--item {
            @include breakpoint('mobile') {
                width: 50%;

                h6 {
                    width: 90%;
                    text-align: center;
                    border: 1px solid $color-gray-8;
                }

                ul {
                    display: none;
                }
                
                &:nth-child(2) {
                    display: none;
                }
                    
                &:last-child {
                    width: 100%;

                    h6 {
                        border: 0;
                    }
        
                    ul {
                        display: flex;

                        li:last-child {
                            display: none;
                        }
                    }
                }
            }


            h6 {
                font-family: $font-asap;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                color: $color-gray-8;
                margin-bottom: 20px;
            }

            ul {
                li {
                    span {
                        font-size: 11px;
                        line-height: 20px;
                        color: $color-gray-8;
                    }

                    a,
                    p {
                        font-size: 14px;
                        line-height: 20px;
                        color: $color-gray-8;

                        &:hover {
                            color: $color-main;
                        }
                    }
                }
            }

            &-secguranca {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    margin-right: 18px;

                    img {
                        width: auto;
                        min-height: 38px;
                    }

                    &:last-child {
                        &::before {
                            content: "by ";
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 23px;
                            font-family: $font-main;
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        width: 100%;
        background-color: $color-gray-8;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
            text-align: center;
            color: $color-white;
            margin: 30px 0 15px;
            font-family: $font-asap;
            font-size: 14px;
            font-weight: 800;
            line-height: 20px;
        }
        
        &--selos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 0;
            border-bottom: 1px solid $color-white;
    
            @include breakpoint('mobile') {
                flex-direction: column;
            }
        }

        &--pagamento {
            @include breakpoint('mobile') {
                width: 100%;
                background: url('/arquivos/bandeiras-mobile.png') no-repeat center bottom;
                padding-bottom: 90px;

                img {
                    display: none;
                }
            }
        }

        &--social {
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                
                li {
                    margin-right: 20px;
                }
            }
        }

        &--copy {
            text-align: center;
            padding: 18px 0 20px;

            @include breakpoint('mobile') {
                text-align: left;
                padding-right: 100px;
                background: url('/arquivos/logoauaha.png') no-repeat center right;
            }

            p {
                color: $color-white;
                font-size: 12px;
                line-height: 20px;
                font-weight: 400;
            }
        }
    }
}