.y-product {
    &__details {
        padding: 121px 0;
        background: url("/arquivos/maciez-bg.png") no-repeat center center;
        
        @include breakpoint('mobile') {
            padding: 50px 0;
            background-repeat: repeat-y;
            flex-direction: column;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint('mobile') {
                flex-direction: column;
                padding: 0 15px;
            }
        }

        &--left {
            width: 45%;
            text-align: center;

            @include breakpoint('mobile') {
                width: 100%;
            }
        }
        
        &--right {
            width: 55%;

            @include breakpoint('mobile') {
                width: 100%;
            }

            h5 {
                text-align: left;
                font-size: 26px;
                font-weight: 500;
                font-family: $font-roboto;
                line-height: 34px;

                &::after {
                    display: none;
                }
            }

            p {
                font-family: $font-roboto;
                font-size: 16px;
                line-height: 21px;
                color: $color-black;
                margin-top: 10px;
            }
        }


    }

    &__mosaico {
        margin: 45px auto 50px;

        @include breakpoint('mobile') {
            margin: 35px auto;
        }
        
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            @include breakpoint('mobile') {
                padding: 0 15px;
            }
        }

        &-image {
            width: 50%;
            text-align: center;
            margin: 75px 0;

            @include breakpoint('mobile') {
                width: 100%;
                margin: 15px 0;
            }
        }
        
        &-text {
            width: 50%;
            padding-left: 80px;

            @include breakpoint('mobile') {
                width: 100%;
                padding: 15px 0;
            }

            h3 {
                color: $color-main;
                font-size: 26px;
                font-family: $font-roboto;
                font-weight: 500;
                line-height: 34px;
                margin-bottom: 30px;
            }

            p {
                font-family: $font-roboto;
                font-size: 16px;
                font-weight: 400;
                color: #666666;
                line-height: 21px;
            }

            @include breakpoint('desktop') {
                &+.y-product__mosaico-text {
                    text-align: right;
                    padding-left: 0;
                    padding-right: 80px;
                }
            }
        }
    }

    &__medidas {
        background-color: #FAFAFA;
        padding: 80px 0 85px;

        @include breakpoint('mobile') {
            padding: 40px 0;
            overflow: hidden;
        }
        
        h4 {
            margin-bottom: 25px;
            font-size: 26px;
            font-family: $font-roboto;
            line-height: 34px;
            font-weight: 500;
            
            &::after {
                display: none;
            }
        }
        
        p {
            color: #666666;
            font-size: 16px;
            font-family: $font-roboto;
            line-height: 21px;
            font-weight: 400;
            text-align: center;
            
            @include breakpoint('desktop') {
                padding: 0 130px;
            }
        }

        h2 {
            margin: 105px auto 70px;
            color: $color-main;
            font-weight: 800;
            font-family: $font-roboto;
            font-size: 30px;
            line-height: 39px;
            display: block;
            text-align: center;

            @include breakpoint('mobile') {
                margin: 30px 0;
            }
        }

        &--slick {

            @include breakpoint('desktop') {
                padding: 0 480px;
    
                .slick-arrow {
                    &.slick-prev {
                        left: 242px;
                    }
    
                    &.slick-next {
                        right: 242px;

                        &::after {
                            transform: rotate(135deg);
                        }
                    }
                }
            }
    
            .slick-arrow {
                
                &::after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    border-top: 1px solid;
                    border-left: 1px solid;
                    transform: rotate(-45deg);
                    border-color: #ACACAC;
                }
            }

            .slick-list {
                overflow: visible;

                .slick-slide {
                    opacity: .3;

                    &.slick-active {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__selos {
        display: block;
        width: 100%;
        margin: 100px 0;
        padding: 100px 0;
        background: url("/arquivos/bg-certificado.png") no-repeat top center;
        text-align: center;

        @include breakpoint('mobile') {
            margin: 50px 0;
            padding: 25px 0;
        }

        h6 {
            color: $color-white;
            font-family: $font-roboto;
            font-size: 30px;
            font-weight: 500;
            line-height: 39px;

            @include breakpoint('mobile') {
                font-size: 24px;
                line-height: 28px
            }

            &::after {
                display: none;
            }
        }

        p {
            margin: 38px auto;
            color: $color-white;
            text-align: center;
            font-family: $font-500;
            font-size: 16px;

            @include breakpoint('desktop') {
                max-width: 580px;
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 16.5px;

                img {
                    max-height: 70px;
                }
            }
        }

    }

    .y-shelfs {
        margin: 97px auto 30px;

        .y-title {
            font-size: 26px;
            font-weight: bold;
            font-family: $font-roboto;
            line-height: 34px;
            margin-bottom: 10px;

            &::after {
                display: none;
            }
        }

        > p {
            text-align: center;
            font-family: $font-roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            color: #666666;
        }
    }
}

.y-buybox {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 14px;
    background-color: $color-white;
    box-shadow: 3px -5px 6px rgba($color: #000000, $alpha: 0.16);
    z-index: 9999;

    @include breakpoint('mobile') {
        display: none;
    }

    .container {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
    }

    .y-product {
        &__name {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            line-height: 26px;
            font-family: $font-700;
            color: #575757;
            width: 30%;
        }

        &__variations {
            display: inline-block;
            vertical-align: middle;
            width: 37%;

            ul {
                margin: 0 auto;

                .specification {
                    color: $color-black;
                    text-align: center;

                    &::before {
                        color: $color-black;
                    }
                }
                
                .skuList {
                    span {
                        justify-content: center;
                        label {
                            border: 1px solid $color-black;
                        }
                    }
                }
            }
        }
        
        &__price {
            display: inline-block;
            vertical-align: middle;
            width: 13.7%;
            .productPrice {
                .descricao-preco {
                    .valor-por strong {
                        color: $color-main;
                        font-size: 32px;
                        line-height: 38px;
                        font-family: $font-500;
                    }
                    .valor-dividido {
                        color: $color-black;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }

        &__buy {
            display: inline-block;
            vertical-align: middle;
            width: 15%;
            margin-left: 20px;

            a {
                background-color: #1CBD64;
                border: 1px solid #CBCBCB;
            }
        }
    }
}