.y-product {
    &__details {
        padding: 121px 0;
        background: url("/arquivos/maciez-bg.png") no-repeat center center;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--left {
            width: 45%;
            text-align: center;
        }

        &--right {
            width: 55%;

            h5 {
                text-align: left;
                font-size: 26px;
                font-weight: 500;
                font-family: $font-roboto;
                line-height: 34px;

                &::after {
                    display: none;
                }
            }

            p {
                font-family: $font-roboto;
                font-size: 16px;
                line-height: 21px;
                color: $color-black;
                margin-top: 10px;
            }
        }


    }

    &__mosaico {
        margin: 90px auto 100px;
        
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-image {
            width: 50%;
            text-align: center;
            margin: 150px 0;
        }

        &-text {
            width: 50%;
            padding-left: 80px;

            h3 {
                color: $color-main;
                font-size: 26px;
                font-family: $font-roboto;
                font-weight: 500;
                line-height: 34px;
                margin-bottom: 30px;
            }

            p {
                font-family: $font-roboto;
                font-size: 16px;
                font-weight: 400;
                color: #666666;
                line-height: 21px;
            }

            &+.y-product__mosaico-text {
                text-align: right;
                padding-left: 0;
                padding-right: 80px;
            }
        }
    }

    &__medidas {
        background-color: #FAFAFA;
        padding: 80px 0 85px;
        
        h4 {
            margin-bottom: 25px;
            font-size: 26px;
            font-family: $font-roboto;
            line-height: 34px;
            font-weight: 500;
            
            &::after {
                display: none;
            }
        }
        
        p {
            color: #666666;
            font-size: 16px;
            font-family: $font-roboto;
            line-height: 21px;
            font-weight: 400;
        }

        h2 {
            margin: 105px auto 70px;
            color: $color-main;
            font-weight: 800;
            font-family: $font-roboto;
            font-size: 30px;
            line-height: 39px;
            display: block;
            text-align: center;
        }

        &--slick {
            padding: 0 480px;

            .slick-arrow {
                
                &::after {
                    color: #666666;
                    font-size: 20px;
                }

                &.slick-prev {
                    left: 485px;
                }

                &.slick-next {
                    right: 485px;
                }

            }

            .slick-list {
                overflow: visible;

                .slick-slide {
                    opacity: .3;

                    &.slick-active {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__selos {
        display: block;
        width: 100%;
        margin: 100px 0;
        padding: 100px 0;
        background: url("/arquivos/bg-certificado.png") no-repeat top center;
        text-align: center;

        h6 {
            color: $color-white;
            font-family: $font-roboto;
            font-size: 30px;
            font-weight: 500;
            line-height: 39px;

            &::after {
                display: none;
            }
        }

        p {
            margin: 38px auto;
            color: $color-white;
            text-align: center;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 16.5px;

                img {
                    max-height: 70px;
                }
            }
        }

    }

    .y-shelfs {
        margin: 97px auto 30px;

        .y-title {
            font-size: 26px;
            font-weight: bold;
            font-family: $font-roboto;
            line-height: 34px;
            margin-bottom: 10px;

            &::after {
                display: none;
            }
        }

        > p {
            text-align: center;
            font-family: $font-roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            color: #666666;
        }
    }
}

.y-buybox {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 14px;
    background-color: $color-white;
    box-shadow: 3px -5px 6px rgba($color: #000000, $alpha: 0.16);

    .container {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
    }

    .y-product {
        &__name {
            display: inline-block;
            vertical-align: middle;
            font-size: 22px;
            line-height: 26px;
            font-family: $font-700;
            color: $color-black;
            width: 30%;
        }

        &__variations {
            display: inline-block;
            vertical-align: middle;
            width: 37%;

            ul {
                margin: 0 auto;

                .specification {
                    color: $color-black;
                    text-align: center;

                    &::before {
                        color: $color-black;
                    }
                }
                
                .skuList {
                    span {
                        justify-content: center;
                        label {
                            border: 1px solid $color-black;
                        }
                    }
                }
            }
        }
        
        &__price {
            display: inline-block;
            vertical-align: middle;
            width: 13.7%;
            .productPrice {
                .descricao-preco {
                    .valor-por strong {
                        color: $color-main;
                        font-size: 32px;
                        line-height: 38px;
                        font-family: $font-500;
                    }
                    .valor-dividido {
                        color: $color-black;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }

        &__buy {
            display: inline-block;
            vertical-align: middle;
            width: 15%;
            margin-left: 20px;
        }
    }
}