.y-product {
    &__top {
        display: block;
        width: 100%;
        background: url("/arquivos/topo.png") no-repeat top center $color-white;
        padding: 62px 0 190px;

        @include breakpoint('mobile') {
            padding: 40px 0;
        }

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__left {
        width: 55%;

        @include breakpoint('mobile') {
            width: 100%;
            padding: 0 20px;
            margin-bottom: 20px;
        }
    }

    &__right {
        width: 45%;
        padding: 0 65px 0 110px;

        @include breakpoint('mobile') {
            width: 100%;
            padding: 0 20px;
        }
    }

    &__bottom {
        width: 100%;

        @include breakpoint('desktop') {
            padding: 110px 0 0;
        }

        &--description {

            @include breakpoint('desktop') {
                margin-top: 175px;
            }

            text-align: center;
            font-size: 16px;
            font-family: $font-300;
            line-height: 19px;
            color: #666666;

            p {
                font-size: 16px;
                font-family: $font-300;
                line-height: 19px;
                color: #666666;
            }
        }

        &--banner {
            margin: 120px auto 0;

            @include breakpoint('mobile') {
                margin: 40px auto 0;
            }
        }

        &--title {
            font-family: $font-700;
            font-size: 20px;
            line-height: 22px;
            color: $color-black;
            text-align: center;
            margin-bottom: 30px;

            strong {
                color: $color-main;
            }
        }

        &--image {
            text-align: center;
            position: relative;

            &:hover {
                &::before {
                    background-image: url('/arquivos/view-more-icon-hover.png');
                }

                .y-infos-product__list {
                    opacity: 1;
                }
            }

            &::before {
                content: "";
                width: 70px;
                height: 70px;
                display: block;
                position: absolute;
                top: 275px;
                left: 50%;
                transform: translateX(-50%);
                background: url('/arquivos/view-more-icon.png') no-repeat center center;

                @include breakpoint('mobile') {
                    display: none;
                }
            }
        }

        .y-infos-product__list {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 40px;
            transition: all .4s;
            opacity: 0;

            @include breakpoint('mobile') {
                opacity: 1;
                flex-direction: column;
                justify-content: space-between;
            }
            
            li {
                
                margin: 0 41px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: left;

                @include breakpoint('mobile') {
                    margin: 20px auto;
                }
    
                div {
                    margin-left: 25px;
                    p {
                        font-size: 18px;
                        line-height: 22px;
                        font-family: $font-300;
                        color: $color-gray-7;
                    }
                    span {
                        font-size: 18px;
                        line-height: 22px;
                        font-family: $font-700;
                        color: $color-main;
                    }
                }
            }
        }
    }

    &__img {
        position: relative;
        margin-top: 15px;

        #image {

            @include breakpoint('desktop') {
                min-height: 450px;
            }
            
            .y-images--slider {
                display: block;
                text-align: center;
                max-width: 680px;
                
                &>img {
                    display: none;
                    
                    &:first-child {
                        display: block;
                    }
                }

                .slick-arrow::after {
                    font-size: 20px;
                    color: $color-white;
                }
            }
        }

        #show {
            display: block;

            .thumbs {
                display: none;
            }
        }

        .zoomWindow {
            overflow: hidden;
            border: 1px solid transparent;
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            left: 0px !important;
        }

        .zoomPad {
            position: relative;
        }

        .zoomWrapperImage {
            img {
                max-width: unset!important;
                width: auto!important;
            }
        }
    }

    &__name {
        font-size: 45px;
        line-height: 54px;
        color: $color-white;
        font-family: $font-700;

        @include breakpoint('mobile') {
            margin-top: 15px;
            font-size: 26px;
            line-height: 32px;
        }
    }

    &__box-price {
        margin: 25px 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__shortdescription {
        margin: 18px 0;
        color: $color-white;
        font-size: 12px;
        line-height: 14px;
        font-family: $font-300;

        strong {
            font-size: 10px;
            font-family: $font-roboto;
            font-weight: 500;
            line-height: 13px;
            color: $color-white;
            display: block;
            margin-bottom: 5px;
        }
    }

    &__inputs {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .y-qtd {
            margin-right: 25px;

            p {
                font-family: $font-roboto;
                font-size: 10px;
                font-weight: 500;
                line-height: 13px;
                color: $color-white;
                margin-bottom: 7px;

                @include breakpoint('mobile') {
                    color: $color-gray-8;
                }
            }

            .box-qtd {
                position: relative;
                width: 75px;

                input {
                    width: 50px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: $color-white;
                    border: 1px solid $color-white;
                    border-radius: 5px 0 0 5px;
                    font-size: 20px;
                    font-family: $font-500;
                    color: #022B36;

                    @include breakpoint('mobile') {
                        border-color: $color-gray-8;
                    }
                }
                
                .btn {
                    color: #022B36;
                    position: absolute;
                    right: 0;
                    width: 22px;
                    height: 20px;
                    line-height: 20px;
                    border: 1px solid $color-white;
                    background-color: $color-white;
                    box-shadow: none;
                    outline: none;
                    text-align: center;
                    appearance: none;
                    cursor: pointer;
                    font-size: 14px;
                    font-family: $font-500;

                    @include breakpoint('mobile') {
                        border: 0.5px solid $color-gray-8;
                    }
                    
                    &-mais {
                        top: 0;
                        border-radius: 0 5px 0 0;
                    }
                    
                    &-menos {
                        bottom: 0;
                        border-radius: 0 0 5px 0;
                    }
                }
            }
        }

        .y-frete {
            width: 100%;
            margin: 0 auto;

            p {
                color: $color-white;
                font-family: $font-roboto;
                font-size: 10px;
                font-weight: 500;
                line-height: 13px;
                margin: 0 0 7px;
                
                @include breakpoint('mobile') {
                    color: $color-gray-8;
                }
            }

            h1 {
                display: none;
            }

            #popupCalculoFreteWrapper {
                display: none;
            }

            #calculoFrete {
                h1,
                h2,
                .close {
                    display: none;
                }

                .content {
                    fieldset {
                        border: none;
                        background-color: $color-white;
                        width: 191px;
                        border-radius: 50px;
                        position: relative;
                        padding: 0 20px;

                        @include breakpoint('mobile') {
                            border: 1px solid $color-gray-8;
                        }
        
                        .quantity {
                            display: none;
                        }
        
                        .prefixo {
                            font-size: 0px;
                            width: 100%;
                            
                        }

                        .lnkExterno {
                            display: none;
                        }

                        input {
                            width: 80%;
                            height: 40px;
                            border: 0;
                            color: #ACACAC;
                            font-size: 12px;
                            font-family: $font-700;
                            line-height: 40px;
                            padding: 6px;
                            
                            &::placeholder {
                                color: #ACACAC;
                            }

                            &[type="button"] {
                                display: block;
                                color: $color-main;
                                background-color: $color-white;
                                width: 40px;
                                height: 40px;
                                font-size: 12px;
                                font-family: $font-700;
                                line-height: 40px;
                                text-transform: uppercase;
                                margin: 0 10px;
                                border: none;
                                cursor: pointer;
                                padding: 0;
                                position: absolute;
                                right: 10px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }

            .freight-values {
                margin: 7px 0;
                max-width: 343px;
                width: 100%;

                table {
                    width: 100%;

                    tr {
                        width: 100%;
                    }
                    th {
                        height: auto;
                        padding: 0;

                        &:first-child {
                            font-size: 0;
                            &::before {
                                content: "Valor";
                                font-family: $font-main;
                                font-size: 18px;
                                color: $color-white;
                                display: block;
                                text-align: left;
                            }
                        }
                        &:nth-child(2) {
                            font-size: 0;
                            &::before {
                                content: "Prazo";
                                font-family: $font-main;
                                font-size: 18px;
                                color: $color-white;
                                display: block;
                                text-align: left;
                            }
                        }
                    }
                    th,
                    td {
                        width: 50%;
                        vertical-align: middle;
                    }
                    td {
                        font-family: $font-roboto;
                        font-size: 12px;
                        line-height: 16px;
                        color: $color-white;
                    }
                }
            }
        }
    }

    &__price {

        .productPrice {
            display: block;
            
            .descricao-preco {

                .valor-de {
                    font-size: 15px;
                    line-height: 18px;
                    font-style: normal;
                    color: #D2D2D2;
                    font-family: $font-500;
                    
                    strong {
                        font-style: normal;
                        font-family: $font-500;
                        font-size: 15px;
                        line-height: 16px;
                        text-decoration-line: line-through;
                    }
                }
                
                .valor-por {
                    font-size: 0;
                    font-style: normal;
                    margin: 6px 0;
    
                    strong {
                        font-size: 35px;
                        line-height: 42px;
                        color: $color-white;
                        font-weight: 500;

                        @include breakpoint('mobile') {
                            font-size: 26px;
                            line-height: 32px;
                        }
                    }
                }
        
                .valor-dividido {
                    font-size: 20px;
                    line-height: 24px;
                    color: $color-white;
                    font-style: normal;
                    font-family: $font-500;
                    
                    strong {
                        font-family: $font-500;
                    }
                }
            }
        }

        .preco-a-vista {
            display: none !important;
        }

        .economia-de {
            display: none;
        }
    }

    &__flag {
        span {
            display: block;
            background-color: $color-main;
            color: $color-white;
            text-align: center;
            font-size: 12px;
            height: 29px;
            line-height: 16px;
            border-radius: 50px;
            padding: 6px 12px;
            font-family: 'museo_sans_rounded500';
        }
    }

    &__variations {
        margin: 20px 0;

        ul {
            .specification {
                font-family: $font-roboto;
                font-size: 10px;
                line-height: 13px;
                color: $color-white;
                font-weight: 500;
                margin-bottom: 7px;

                @include breakpoint('mobile') {
                    color: $color-gray-8;
                    font-size: 12px;
                    line-height: 15px;
                }

                &::before {
                    // content: "Escolha sua  ";
                    font-family: $font-roboto;
                    font-size: 10px;
                    line-height: 13px;
                    color: $color-white;
                    font-weight: 600;
                }
            }

            .skuList {
                span {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    
                    input {
                        display: none;

                        &.checked+label {
                            border-color: $color-main;
                        }
                    }

                    label {
                        width: 80px;
                        height: 40px;
                        border: 2px solid $color-white;
                        border-radius: 50px;
                        background-color: $color-white;
                        overflow: hidden;
                        
                        margin: 0 10px 0 0;
                        
                        text-align: center;
                        font-size: 14px;
                        line-height: 40px;
                        font-family: $font-500;
                        color: $color-gray-8;

                        cursor: pointer;

                        &:hover {
                            border-color: $color-main;
                        }

                        @include breakpoint('mobile') {
                            border-color: $color-gray-8;
                            margin: 0 10px 10px 0;
                        }
                    }
                }

            }
        }
    }

    &__buy {
        display: block;
        width: 100%;

        .buy-button {
            display: block;

            cursor: pointer;
            
            width: 86%;
            height: 56px;
            line-height: 56px;
            border-radius: 50px;
            background: $color-darkgreen;
        
            
            color: $color-white;
            font-size: 25px;
            font-family: $font-700;
            text-align: center;
            text-transform: uppercase;
        }

        // AVISA-ME
        .notifymetitle.notifyme-title {
            color: $color-gray-8;
            font-size: 20px;
        }

        fieldset.sku-notifyme-form.notifyme-form {
            border: none;
            display: flex;
            >p {
                color: $color-gray-8;
                font-size: 18px;
                line-height: 22px;
                margin: 15px 0px;
            }
            input {
                width: 80%;
                height: 35px;
                border: 1.5px solid $color-main;
                border-radius: 5px;
                margin: 10px 0px;
                padding: 10px;
                color: $color-gray-8;
                &#notifymeButtonOK {
                    background-color: $color-main;
                    color: #fff;
                    font-size: 16px;
                    border: none;
                    border-radius: 4px;
                    width: 110px;
                    height: 37px;
                    margin-left: auto;
                    margin-right: 20%;
                    text-transform: uppercase;
                }
            }
        }
    }
}