@include breakpoint('desktop') {
    .y-category {
        &__filter {
    
            &--title {
                span {
                    &.icon {
                        margin-right: 6px;
                    }
                }
    
                strong {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 800;
                    color: $color-gray-8;
                    text-transform: uppercase;
                }
            }
            
            .menu-navegue {
                display: none;
            }
        }
        
        &__searchNavigator {
            background-color: $color-white;
            margin-top: 33px;

            .search-multiple-navigator {
                &>h3,
                &>h4,
                &>a {
                    display: none;
                }
    
                fieldset {
                    border: 0;
                    display: block;
                    border-bottom: 1px solid $color-gray-1;
                    
                    h5 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        cursor: pointer;
    
                        @include t2-b;
                        line-height: 26px;
                        color: $color-black;
                        text-transform: uppercase;
    
                        transition: all .4s;
    
                        padding: 15px 20px;
    
                        &::after {
                            content: "-";
                            @include t2-b;
                            line-height: 26px;
                        }
    
                        &.is--closed {
                            &::after {
                                content: "+";
                            }
                        }
                    }
                    
                    label {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        color: $color-gray-8;
                        font-weight: 400;
                        padding: 5px 20px;
                        position: relative;
                        
                        input {
                            cursor: pointer;
                            margin-right: 8px;
                            width: 15px;
                            height: 15px;
                            border: 1px solid $color-gray-8;
                            border-radius: 0;
                        }
                    }
                }
            }

            .search-single-navigator {
                h3 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    transition: all .4s;

                    padding: 15px 20px;
                    
                    &::after {
                        content: "-";
                        @include t2-b;
                        line-height: 26px;
                    }

                    &.is--closed {
                        &::after {
                            content: "+";
                        }
                    }

                    a {
                        @include t2-b;
                        line-height: 26px;
                        color: $color-black;
                        text-transform: uppercase;
                    }

                    span {
                        display: none;
                    }
                }
                
                ul {
                    li {
                        display: block;
                        a {
                            cursor: pointer;
                            display: block;
                            font-size: 14px;
                            color: $color-gray-8;
                            font-weight: 400;
                            padding: 5px 20px;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}