@include breakpoint('mobile') {
    .y-category {

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--item {
                border: 1px solid $color-gray-1;
                width: 50%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background-color: $color-white;

                span {
                    display: inline-block;
                    font-size: 14px;
                    line-height: 40px;
                    color: #4C4C4C;
                    text-transform: uppercase;
                    font-weight: 400;

                    &.icon {
                        margin-right: 15px;
                    }
                }
            }
        }
        
        &__filter {
            transition: all .4s;

            position: fixed;
            top: 0;
            left: -100vw;
            z-index: 999999;

            background-color: $color-white;

            width: 87%;
            height: 100vh;

            overflow-y: auto;

            &.is--active {
                left: 0;
            }

            &-top {
                padding: 10px 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 0.5px solid $color-gray-6;

                .y-close {
                    font-size: 40px;
                    font-weight: 500;
                    color: $color-black;
                    transform: rotate(45deg);
                }
            }


            &--title {
                font-size: 16px;
                font-weight: 800;
                color: $color-gray-8;
                text-transform: uppercase;
            }

            .menu-navegue {
                display: none;
            }
            
            .search-multiple-navigator {
                overflow-y: auto;
                margin-top: 0;

                &>h3,
                &>h4,
                &>a {
                    display: none;
                }

                fieldset {
                    border: 0;
                    display: block;
                    border-bottom: 0.5px solid $color-gray-6;
                    
                    h5 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                        padding: 0 20px;
                        
                        cursor: pointer;

                        @include t1;
                        font-weight: 600;
                        color: $color-black;

                        transition: all .4s;

                        &::after {
                            content: "+";
                            @include h1;
                        }

                        &.is--closed {
                            &::after {
                                content: "-";
                            }
                        }

                        &+div {
                            display: none;
                        }
                    }
                    
                    label {
                        cursor: pointer;
                        display: block;
                        @include t1;
                        line-height: 32px;
                        color: $color-gray-8;
                        position: relative;
                        border-top: 0.5px solid $color-gray-8;
                        padding: 0 20px;
                        background-color: $color-gray-1;
                        
                        
                        input {
                            cursor: pointer;
                            position: absolute;
                            top: 0;
                            left: 0;

                            width: 100%;
                            height: 100%;

                            opacity: 0;
                        }
                    }
                }
            }

            ul {
                li {
                    a {
                        display: block;
                        @include t1;
                        color: $color-gray-8;
                        padding: 20px 33px;
                        border-bottom: 1px solid $color-gray-2;

                        &:hover {
                            color: $color-black;
                        }
                    }
                }
            }

            .search-single-navigator {
                h3 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    padding: 0 20px;
                    
                    cursor: pointer;

                    transition: all .4s;

                    &::after {
                        content: "+";
                        @include h1;
                    }

                    &.is--closed {
                        &::after {
                            content: "-";
                        }
                    }

                    &+ul {
                        display: none;
                    }

                    a {
                        @include t1;
                        font-weight: 600;
                        color: $color-black;
                    }
                    
                    span {
                        display: none;
                    }
                }

                ul {
                    li {
                        a {
                            cursor: pointer;
                            display: block;
                            @include t1;
                            line-height: 32px;
                            color: $color-gray-8;
                            position: relative;
                            border-top: 0.5px solid $color-gray-8;
                            padding: 0 20px;
                            background-color: $color-gray-1;
                        }
                    }
                }
            }
        }
    }
}