.y-search {
    background-color: $color-gray-1;

    .y-category {

        &__name {
            color: $color-white;
            text-align: left;
            text-transform: uppercase;
            font-family: $font-asap;
            font-size: 26px;
            line-height: 26px;
            font-weight: 400;

            @include breakpoint('mobile') {
                font-size: 20px;
                text-align: center;
            }

            h2 {
                margin-top: 7px;
            }
        }

        &__right {
            .y-shelf {
                &__item {
                    &-compared {
                        display: none;
                    }
                }
            }
        }

    }
}