@import "./tools/breakpoint";
@import "./layouts/globals/fonts.scss";
@import "./layouts/globals/variables.scss";
@import "./layouts/geral/find/main.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.y-empty {
    &__title {
        font-family: 'Roboto', sans-serif;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 53px auto 110px;

        @include breakpoint('mobile') {
            flex-direction: column;
            margin: 26px 0 47px;
        }
    
        strong {
            margin-right: 98px;

            font-size: 113px;
            line-height: 149px;
            font-weight: 700;
            
            color: #C4C4C4;

            @include breakpoint('mobile') {
                margin-right: 0;
                margin-bottom: 6px;

                font-size: 40px;
                line-height: 53px;
            }
        }

        span {
            font-size: 45px;
            font-weight: 300;
            line-height: 59px;
            
            color: #4C4C4C;

            @include breakpoint('mobile') {
                text-align: center;
                font-size: 16px;
                line-height: 21px;
            }
        }
    }
}

.y-brand {
    width: 100%;
    display: block;
    margin: 103px 0 69px;

    @include breakpoint('mobile') {
        display: none;
    }
}