@import './layouts/globals/variables.scss';
@import './layouts/globals/fonts.scss';
@import './tools/breakpoint';

@keyframes tour {
	to {
		transform: rotate(0deg)
	} 
		
	from {
		transform: rotate(360deg);
	}
}

#ajaxBusy {
	visibility: visible!important;
	opacity: 1!important;
	width: 100vw;
	height: 100vh;
	position: fixed!important;
	left: 0;
	top: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,.3);
	transform: none!important;

	p {
		display: block;
		font-size: 0;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border: 4px solid $color-main;
		border-left-color: transparent;
		background-size: cover;
		animation: tour infinite linear 0.75s;
	}
}

#vtex-callcenter__toolbar {
	z-index: 9999999999 !important;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

::before,
::after {
	font-family: 'FontAwesome';
}

ul, ol {
	margin-left: 0;
	list-style: none;
}

a {
	color: $color-black;
	text-decoration: none;
}

body {
	font-family: $font-main;
	color: $color-black;
	background: #FFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;

	&.no--scroll {
		overflow: hidden;
		
		&::before {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			z-index: 99999;
			background: rgba(0,0,0,.5);
			overflow: hidden;
		}
	}
}

.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
	max-width: 95vw;
}

img {
	max-width: 100%;
	height: auto;
}

div#vtex-callcenter {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99999999999999;
}

section#vtex-callcenter__toolbar {
    top: unset !important;
    bottom: 0;
}

.slick-arrow {
	font-size: 0px;
    display: block;
    position: absolute;
    top: 50%;
    background: none;
    z-index: 20;
    cursor: pointer;
    border: none;
    transform: translateY(-50%);

	&::after{
		content: "\f053";
		font-family: FontAwesome;
		display: inline-block;
		font-size: 31px;
		color: $color-main;

		@include breakpoint('mobile') {
			font-size: 20px;
		}
	}

	&.slick-next{
		right: -20px;

		@include breakpoint('mobile') {
			right: 0;
		}

		&::after {
			content: "\f054";
		}
	}
	&.slick-prev{
		left: -20px;

		@include breakpoint('mobile') {
			left: 0;
		}
	}
}

.slick-dots {
	margin-top: 27px;
	display: flex !important;
	justify-content: center;
	width: 100%;

	li {
		margin: 0 2.5px;

		button {
			display: block;
			font-size: 0;
			width: 13px;
			height: 13px;
			background-color: $color-white;
			border-radius: 50%;
			border: 1px solid $color-main;
			position: relative;
			cursor: pointer;
			transition: all 225ms ease;
		}

		&.slick-active {
			button {
				background-color: $color-main;
			}
		}
	}
}

.y-title {
	text-align: center;
	font-family: $font-main;
	font-size: 30px;
	line-height: 40px;
	font-weight: 900;
	color: $color-main;

	@include breakpoint('mobile') {
		font-size: 20px;
		line-height: 40px;
		font-weight: 700;
	}

	strong {
		display: block;
		font-family: $font-main;
		font-size: 30px;
		line-height: 40px;
		font-weight: 900;
		color: $color-main;
		
		@include breakpoint('mobile') {
			font-size: 20px;
			line-height: 40px;
			font-weight: 700;
		}
	}
	
	&::after {
		content: "";
		display: block;
		margin: 11px auto 0;
		width: 92px;
		height: 3px;
		background-color: $color-main;
	}
}

.y-desktop {
	display: block;
	@include breakpoint('mobile') {
		display: none;
	}
}

.y-mobile {
	display: none;
	@include breakpoint('mobile') {
		display: block;
	}
}

.is--hide {
	opacity: 0;
	height: 0;
	display: none;
}