@import '../../common/scss/tools/_breakpoint.scss';
@import "../../common/scss/layouts/globals/variables.scss";

.c-on-base {
    font-size: 20px;
}
.t-heading-1, .t-heading-2 {
    color: #083675;
}

.c-action-primary {
    color: #000;
}

footer.flex {
    padding: 10px;
    .vtex-button {
        color: #fff;
        &:hover {
            color: #000;
        }
    }
}

.c-on-base {
   color: #083675;
}