<nav class="y-menu">
    <div class="y-menu__account y-mobile">
        <a href="/account">
            <svg xmlns="http://www.w3.org/2000/svg" width="42.291" height="42.291" viewBox="0 0 42.291 42.291">
                <path id="Icon_material-account-circle" data-name="Icon material-account-circle" d="M24.479,3.333A21.145,21.145,0,1,0,45.624,24.479,21.153,21.153,0,0,0,24.479,3.333Zm0,6.344a6.344,6.344,0,1,1-6.344,6.344,6.335,6.335,0,0,1,6.344-6.344Zm0,30.027a15.226,15.226,0,0,1-12.687-6.809c.063-4.208,8.458-6.513,12.687-6.513,4.208,0,12.624,2.3,12.687,6.513A15.226,15.226,0,0,1,24.479,39.7Z" transform="translate(-3.333 -3.333)" fill="#fff"/>
            </svg>              
        </a>
        <p>
            <strong>MINHA CONTA</strong>
            <a href="/account">Entre</a> ou <a href="/account">Cadastre-se</a>
        </p>
    </div>
    <ul class="y-menu__departamento">
        <li class="y-menu__departamento--item">
            <a href="/analise-de-gases">Análise de Gases</a>
            <div class="y-menu__submenu">
                <div class="container">
                    <div class="y-menu__submenu--itens">
                        <ul>
                            <h3>Análise de Gases</h3>
                            <li><a href="/analise-de-gases/portateis">Portáteis </a></li>
                        </ul>
                        <ul>
                            <h3>Marca</h3>
                            <li><a href="/analise-de-gases/zipflex" title="zipflex">zipflex</a></li>
                            <li><a href="/analise-de-gases/kane" title="Kane">Kane</a></li>
                            <li><a href="/analise-de-gases/testo" title="Testo">Testo</a></li>
                        </ul>
                    </div>
                    <div class="y-menu__submenu--banner">
                        <a href="/mecaninca">
                            <img src="/arquivos/mecanica-banner-menu.png" alt="Mecânica" />
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/eletro-eletronica">Eletro-Eletrônica</a>
            <div class="y-menu__submenu">
                <div class="container">
                    <div class="y-menu__submenu--itens">
                        <ul>
                            <h3>Eletro-Eletrônica</h3>
                            <li><a href="/alicate-terrometro" title="Alicate Terrômetro">Alicate Terrômetro</a></li>
                            <li><a href="/eletro-eletronica/analisadores-de-energia" title="Analisadores de Energia">Analisadores de Energia</a></li>
                            <li><a href="/eletro-eletronica/capacimetro" title="Capacímetro">Capacímetro</a></li>
                            <li><a href="/eletro-eletronica/calibrador-de-loop" title="Calibrador de Loop">Calibrador de Loop</a></li>
                            <li><a href="/eletro-eletronica/calibrador-de-voltagem-e-corrente" title="Calibrador de Voltagem e Corrente">Calibrador de Voltagem e Corrente</a></li>
                            <li><a href="/eletro-eletronica/calibrador-de-termopares" title="Calibrador de Termopares">Calibrador de Termopares</a></li>
                            <li><a href="/eletro-eletronica/calibrador-multi-funcoes" title="Calibrador Multi-Funções">Calibrador Multi-Funções</a></li>
                            <li><a href="/eletro-eletronica/decadas-capacitiva-ou-resistiva" title="Décadas Capacitiva ou Resistiva">Décadas Capacitiva ou Resistiva</a></li>
                            <li><a href="/eletro-eletronica/fasimetro" title="Fasímetro">Fasímetro</a></li>
                            <li><a href="/eletro-eletronica/fontes-de-alimentacao" title="Fontes de Alimentação">Fontes de Alimentação</a></li>
                            <li><a href="/eletro-eletronica/gerador-de-audio" title="Gerador de Áudio">Gerador de Áudio</a></li>
                        </ul>
                        <ul>
                            <h3></h3>
                            <li><a href="/eletro-eletronica/lupas" title="Lupas">Lupas</a></li>
                            <li><a href="/eletro-eletronica/gerador-de-funcoes" title="Gerador de Funções">Gerador de Funções</a></li>
                            <li><a href="/eletro-eletronica/medidor-de-lcr" title="Medidor de LCR">Medidor de LCR</a></li>
                            <li><a href="/eletro-eletronica/multimetros" title="Multímetros">Multímetros</a></li>
                            <li><a href="/eletro-eletronica/osciloscopios" title="Osciloscópios">Osciloscópios</a></li>
                            <li><a href="/eletro-eletronica/testadores" title="Testadores">Testadores</a></li>
                            <li><a href="/eletro-eletronica/volt-amperimetros" title="Volt-Amperímetros">Volt-Amperímetros</a></li>
                            <li><a href="/eletro-eletronica/wattimetros" title="Wattímetros">Wattímetros</a></li>
                        </ul>
                        <ul>
                            <h3>Marca</h3>
                            <li><a href="/eletro-eletronica/zipflex" title="zipflex">zipflex</a></li>
                            <li><a href="/eletro-eletronica/instrutemp" title="Instrutemp">Instrutemp</a></li>
                            <li><a href="/eletro-eletronica/instrutherm" title="Instrutherm">Instrutherm</a></li>
                            <li><a href="/eletro-eletronica/minipa" title="Minipa">Minipa</a></li>
                        </ul>
                    </div>
                    <div class="y-menu__submenu--banner">
                        <a href="/mecaninca">
                            <img src="/arquivos/mecanica-banner-menu.png" alt="Mecânica" />
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/ensaios-eletricos">Ensaios</a>
            <div class="y-menu__submenu">
                <div class="container">
                    <div class="y-menu__submenu--itens">
                        <ul>
                            <h3>Ensaios Elétricos</h3>
                            <li><a href="/ensaios-eletricos/analisadores-de-rede-eletrica?PS=15" title="Analisadores de Rede Elétrica">Analisadores de Rede Elétrica</a></li>
                            <li><a href="/ensaios-eletricos/caixa-de-calibracao-de-reles?PS=15" title="Caixa de Calibração de Relés">Caixa de Calibração de Relés</a></li>
                            <li><a href="/ensaios-eletricos/ciclometro-digital-trifasico?PS=15" title="Ciclômetro Digital Trifásico">Ciclômetro Digital Trifásico</a></li>
                            <li><a href="/ensaios-eletricos/detectores-alta-tensao?PS=15" title="Detectores Alta Tensão">Detectores Alta Tensão</a></li>
                            <li><a href="/ensaios-eletricos/hipots?PS=15" title="Hipots">Hipots</a></li>
                            <li><a href="/ensaios-eletricos/kits-promocionais-de-ensaios?PS=15" title="Kits Promocionais de Ensaios">Kits Promocionais de Ensaios</a></li>
                            <li><a href="/ensaios-eletricos/medidor-de-continuidade?PS=15" title="Medidor de Continuidade">Medidor de Continuidade</a></li>
                            <li><a href="/ensaios-eletricos/megohmetros?PS=15" title="Megôhmetros">Megôhmetros</a></li>
                            <li><a href="/ensaios-eletricos/medidor-de-relacao-ttr-?PS=15" title="Medidor de Relação(TTR)">Medidor de Relação(TTR)</a></li>
                            <li><a href="/ensaios-eletricos/medidor-de-rigidez-dieletrica?PS=15" title="Medidor de Rigidez Dielétrica">Medidor de Rigidez Dielétrica</a></li>
                            <li><a href="/ensaios-eletricos/microhmimetros?PS=15" title="Microhmímetros">Microhmímetros</a></li>
                        </ul>
                        <ul>
                            <h3></h3>
                            <li><a href="/ensaios-eletricos/miliohmimetro?PS=15" title="Miliohmímetro">Miliohmímetro</a></li>
                            <li><a href="/ensaios-eletricos/ponte-de-kelvin?PS=15" title="Ponte de Kelvin">Ponte de Kelvin</a></li>
                            <li><a href="/ensaios-eletricos/ponte-de-wheatstone?PS=15" title="Ponte de Wheatstone">Ponte de Wheatstone</a></li>
                            <li><a href="/ensaios-eletricos/spark-test?PS=15" title="Spark Test">Spark Test</a></li>
                            <li><a href="/ensaios-eletricos/terrometros?PS=15" title="Terrômetros">Terrômetros (12)</a></li>
                            <li><a href="/ensaios-eletricos/termovisores?PS=15" title="Termovisores">Termovisores (12)</a></li>
                        </ul>
                        <ul>
                            <h3>Marca</h3>
                            <li><a href="/ensaios-eletricos/flir?PS=15" title="Flir">Flir</a></li>
                            <li><a href="/ensaios-eletricos/zipflex?PS=15" title="zipflex">zipflex</a></li>
                            <li><a href="/ensaios-eletricos/megabras?PS=15" title="Megabrás">Megabrás</a></li>
                            <li><a href="/ensaios-eletricos/minipa?PS=15" title="Minipa">Minipa</a></li>
                        </ul>
                    </div>
                    <div class="y-menu__submenu--banner">
                        <a href="/mecaninca">
                            <img src="/arquivos/mecanica-banner-menu.png" alt="Mecânica" />
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/laboratorio">Laboratório</a>
            <div class="y-menu__submenu">
                <div class="container">
                    <div class="y-menu__submenu--itens">
                        <ul>
                            <h3>Laboratório</h3>
                            <li><a href="/laboratorio/altimetros?PS=15" title="Altímetros">Altímetros</a></li>
                            <li><a href="/laboratorio/analisador-de-cores?PS=15" title="Analisador de Cores">Analisador de Cores</a></li>
                            <li><a href="/laboratorio/analisador-de-qualidade-do-oleo?PS=15" title="Analisador de Qualidade do Óleo">Analisador de Qualidade do Óleo</a></li>
                            <li><a href="/laboratorio/analisador-de-agua?PS=15" title="Analisador de Água">Analisador de Água</a></li>
                            <li><a href="/laboratorio/analisadores-de-leite?PS=15" title="Analisadores de Leite">Analisadores de Leite</a></li>
                            <li><a href="/laboratorio/barometros?PS=15" title="Barômetros">Barômetros</a></li>
                            <li><a href="/laboratorio/bomba-peristaltica?PS=15" title="Bomba Peristáltica">Bomba Peristáltica</a></li>
                            <li><a href="/laboratorio/calibradores-p--temperatura?PS=15" title="Calibradores P/ Temperatura">Calibradores P/ Temperatura</a></li>
                            <li><a href="/laboratorio/clorimetro?PS=15" title="Clorímetro">Clorímetro</a></li>
                            <li><a href="/laboratorio/colorimetro?PS=15" title="Colorímetro">Colorímetro</a></li>
                            <li><a href="/laboratorio/condutivimetros?PS=15" title="Condutivimetros">Condutivimetros</a></li>
                            <li><a href="/laboratorio/cronometros?PS=15" title="Cronômetros">Cronômetros</a></li>
                            <li><a href="/laboratorio/data-loggers?PS=15" title="Data Loggers">Data Loggers</a></li>
                            <li><a href="/laboratorio/determinador-de-ponto-de-fusao?PS=15" title="Determinador de ponto de fusão">Determinador de ponto de fusão</a></li>
                            <li><a href="/laboratorio/eletrodo-de-orp?PS=15" title="Eletrodo de ORP">Eletrodo de ORP</a></li>
                            <li><a href="/laboratorio/estacoes-meteorologicas?PS=15" title="Estações Meteorológicas">Estações Meteorológicas</a></li>
                            <li><a href="/laboratorio/fluorimetro-digital?PS=15" title="Fluorímetro digital">Fluorímetro digital</a></li>
                            <li><a href="/laboratorio/medidor-de-orp?PS=15" title="Medidor de ORP">Medidor de ORP</a></li>
                            <li><a href="/laboratorio/medidores-multiparametros?PS=15" title="Medidores Multiparâmetros">Medidores Multiparâmetros</a></li>
                        </ul>
                        <ul>
                            <h3></h3>
                            <li><a href="/laboratorio/medidores-de-co-e-co²?PS=15" title="Medidores de CO e CO²">Medidores de CO e CO²</a></li>
                            <li><a href="/laboratorio/medidores-de-cloro?PS=15" title="Medidores de Cloro">Medidores de Cloro</a></li>
                            <li><a href="/laboratorio/medidores-de-oxi-reducao?PS=15" title="Medidores de Oxi-Redução">Medidores de Oxi-Redução</a></li>
                            <li><a href="/laboratorio/medidores-de-oxigenio?PS=15" title="Medidores de Oxigênio">Medidores de Oxigênio</a></li>
                            <li><a href="/laboratorio/medidores-de-ponto-de-orvalho--dew-point?PS=15" title="Medidores de Ponto de Orvalho/ Dew Point">Medidores de Ponto de Orvalho/ Dew Point</a></li>
                            <li><a href="/laboratorio/medidores-de-salinidade?PS=15" title="Medidores de Salinidade">Medidores de Salinidade</a></li>
                            <li><a href="/laboratorio/medidores-de-ph?PS=15" title="Medidores de PH">Medidores de PH</a></li>
                            <li><a href="/laboratorio/medidores-de-umidade?PS=15" title="Medidores de Umidade">Medidores de Umidade</a></li>
                            <li><a href="/laboratorio/oximetros?PS=15" title="Oxímetros">Oxímetros</a></li>
                            <li><a href="/laboratorio/penetrometro-analogico?PS=15" title="Penetrômetro Analógico">Penetrômetro Analógico</a></li>
                            <li><a href="/laboratorio/psicrometros?PS=15" title="Psicrômetros">Psicrômetros</a></li>
                            <li><a href="/laboratorio/refratometros?PS=15" title="Refratômetros">Refratômetros</a></li>
                            <li><a href="/laboratorio/simuladores-de-ph?PS=15" title="Simuladores de PH">Simuladores de PH</a></li>
                            <li><a href="/laboratorio/termo-higro-anemometros?PS=15" title="Termo-Higro-Anemômetros">Termo-Higro-Anemômetros</a></li>
                            <li><a href="/laboratorio/termo-higrometros?PS=15" title="Termo-Higrômetros">Termo-Higrômetros</a></li>
                            <li><a href="/laboratorio/termometros-infravermelhos?PS=15" title="Termômetros Infravermelhos">Termômetros Infravermelhos</a></li>
                            <li><a href="/laboratorio/termometros-portateis?PS=15" title="Termômetros Portáteis">Termômetros Portáteis</a></li>
                            <li><a href="/laboratorio/turbidimetro?PS=15" title="Turbidímetro">Turbidímetro</a></li>
                        </ul>
                        <ul>
                            <h3>Marca</h3>
                            <li><a href="/laboratorio/akso?PS=15" title="Akso">Akso </a></li>
                            <li><a href="/laboratorio/flir?PS=15" title="Flir">Flir </a></li>
                            <li><a href="/laboratorio/zipflex?PS=15" title="zipflex">zipflex</a></li>
                            <li><a href="/laboratorio/instrutemp?PS=15" title="Instrutemp">Instrutemp</a></li>
                            <li><a href="/laboratorio/instrutherm?PS=15" title="Instrutherm">Instrutherm</a></li>
                            <li><a href="/laboratorio/minipa?PS=15" title="Minipa">Minipa</a></li>
                            <li><a href="/laboratorio/testo?PS=15" title="Testo">Testo</a></li>
                        </ul>
                    </div>
                    <div class="y-menu__submenu--banner">
                        <a href="/mecaninca">
                            <img src="/arquivos/mecanica-banner-menu.png" alt="Mecânica" />
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/mecanica">Mecânica</a>
            <div class="y-menu__submenu">
                <div class="container">
                    <div class="y-menu__submenu--itens">
                        <ul>
                            <h3>Mecânica</h3>
                            <li><a href="/mecanica/boroscopio" title="Boroscópio">Boroscópio</a></li>
                            <li><a href="/mecanica/dinamometros" title="Dinamômetros">Dinamômetros</a></li>
                            <li><a href="/mecanica/durometros" title="Durômetros">Durômetros</a></li>
                            <li><a href="/mecanica/dinamometros-digitais" title="Dinamômetros Digitais">Dinamômetros Digitais</a></li>
                            <li><a href="/mecanica/manometros-industriais" title="Manômetros Industriais">Manômetros Industriais</a></li>
                            <li><a href="/mecanica/manometros-portateis" title="Manômetros Portáteis">Manômetros Portáteis</a></li>
                            <li><a href="/mecanica/manifold" title="Manifold">Manifold</a></li>
                            <li><a href="/mecanica/medidores-de-vibracao" title="Medidores de Vibração">Medidores de Vibração</a></li>
                            <li><a href="/mecanica/rugosimetros" title="Rugosímetros">Rugosímetros</a></li>
                            <li><a href="/mecanica/medidores-de-espessura" title="Medidores de Espessura">Medidores de Espessura</a></li>
                            <li><a href="/mecanica/trena-eletronica" title="Trena Eletrônica">Trena Eletrônica</a></li>
                            <li><a href="/mecanica/tacometros" title="Tacômetros">Tacômetros</a></li>
                            <li><a href="/mecanica/vacuometros-portateis" title="Vacuômetros Portáteis">Vacuômetros Portáteis</a></li>
                            <li><a href="/mecanica/tubos-de-pitot" title="Tubos de Pitot">Tubos de Pitot</a></li>
                        </ul>
                        <ul>
                            <h3>Marca</h3>
                            <li><a href="/mecanica/extech" title="Extech">Extech</a></li>
                            <li><a href="/mecanica/zipflex" title="zipflex">zipflex </a></li>
                            <li><a href="/mecanica/instrutemp" title="Instrutemp">Instrutemp</a></li>
                            <li><a href="/mecanica/instrutherm" title="Instrutherm">Instrutherm</a></li>
                            <li><a href="/mecanica/minipa" title="Minipa">Minipa</a></li>
                            <li><a href="/mecanica/testo" title="Testo">Testo</a></li>
                        </ul>
                    </div>
                    <div class="y-menu__submenu--banner">
                        <a href="/mecaninca">
                            <img src="/arquivos/mecanica-banner-menu.png" alt="Mecânica" />
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/metrologia">Metrologia</a>
            <div class="y-menu__submenu">
                <div class="container">
                    <div class="y-menu__submenu--itens">
                        <ul>
                            <h3>Metrologia</h3>
                            <li><a href="/metrologia/blocos-e-pinos-padrao?PS=15" title="Blocos e Pinos Padrão">Blocos e Pinos Padrão</a></li>
                            <li><a href="/metrologia/paquimetros?PS=15" title="Paquímetros">Paquímetros</a></li>
                        </ul>
                        <ul>
                            <h3>Marca</h3>
                            <li><a href="/metrologia/zipflex?PS=15" title="zipflex">zipflex</a></li>
                            <li><a href="/metrologia/insize?PS=15" title="Insize">Insize</a></li>
                        </ul>
                    </div>
                    <div class="y-menu__submenu--banner">
                        <a href="/mecaninca">
                            <img src="/arquivos/mecanica-banner-menu.png" alt="Mecânica" />
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/seguranca-do-trabalho">Seguranca do Trabalho</a>
            <div class="y-menu__submenu">
                <div class="container">
                    <div class="y-menu__submenu--itens">
                        <ul>
                            <h3>Segurança do trabalho</h3>
                            <li><a href="/seguranca-do-trabalho/anemometro?PS=15" title="Anemômetro">Anemômetro</a></li>
                            <li><a href="/seguranca-do-trabalho/bafometro-digital?PS=15" title="Bafômetro Digital">Bafômetro Digital</a></li>
                            <li><a href="/seguranca-do-trabalho/bomba-de-amostragem?PS=15" title="Bomba de Amostragem">Bomba de Amostragem</a></li>
                            <li><a href="/seguranca-do-trabalho/calibrador-acustico?PS=15" title="Calibrador Acustico">Calibrador Acustico</a></li>
                            <li><a href="/seguranca-do-trabalho/detector-de-4-gases?PS=15" title="Detector de 4 Gases">Detector de 4 Gases</a></li>
                            <li><a href="/seguranca-do-trabalho/detector-de-fuga-de-gas?PS=15" title="Detector de Fuga de Gás">Detector de Fuga de Gás</a></li>
                            <li><a href="/seguranca-do-trabalho/decibelimetro?PS=15" title="Decibelímetro">Decibelímetro</a></li>
                            <li><a href="/seguranca-do-trabalho/dinamometros-para-avaliacao-fisica?PS=15" title="Dinamômetros para Avaliação Física">Dinamômetros para Avaliação Física</a></li>
                            <li><a href="/seguranca-do-trabalho/dosimetro-de-ruido?PS=15" title="Dosímetro de Ruído">Dosímetro de Ruído</a></li>
                            <li><a href="/seguranca-do-trabalho/luximetro?PS=15" title="Luxímetro">Luxímetro</a></li>
                            <li><a href="/seguranca-do-trabalho/medidor-de-campo-eletromagnetico?PS=15" title="Medidor de Campo Eletromagnético">Medidor de Campo Eletromagnético</a></li>
                            <li><a href="/seguranca-do-trabalho/medidor-de-energia-solar?PS=15" title="Medidor de Energia Solar">Medidor de Energia Solar</a></li>
                        </ul>
                        <ul>
                            <h3></h3>
                            <li><a href="/seguranca-do-trabalho/medidor-de-vibracao-do-corpo-humano?PS=15" title="Medidor de Vibração do Corpo Humano">Medidor de Vibração do Corpo Humano</a></li>
                            <li><a href="/seguranca-do-trabalho/medidor-de-luz-ultravioleta?PS=15" title="Medidor de Luz Ultravioleta">Medidor de Luz Ultravioleta</a></li>
                            <li><a href="/seguranca-do-trabalho/medidor-de-monoxido-de-carbono?PS=15" title="Medidor de Monóxido de Carbono">Medidor de Monóxido de Carbono</a></li>
                            <li><a href="/seguranca-do-trabalho/medidor-de-dioxido-de-carbono?PS=15" title="Medidor de Dióxido de Carbono">Medidor de Dióxido de Carbono</a></li>
                            <li><a href="/seguranca-do-trabalho/multi-parametro?PS=15" title="Multi-parâmetro">Multi-parâmetro</a></li>
                            <li><a href="/seguranca-do-trabalho/radiometro?PS=15" title="Radiomêtro">Radiomêtro</a></li>
                            <li><a href="/seguranca-do-trabalho/termometro-de-globo?PS=15" title="Termômetro de Globo">Termômetro de Globo</a></li>
                            <li><a href="/seguranca-do-trabalho/acessorios?PS=15" title="Acessórios">Acessórios</a></li>
                            <li><a href="/seguranca-do-trabalho/kits-promocionais-de-seguranca-do-trabalho?PS=15" title="Kits Promocionais de Segurança do Trabalho">Kits Promocionais de Segurança do Trabalho</a>
                            </li>
                        </ul>
                        <ul>
                            <h3>Marca</h3>
                            <li><a href="/seguranca-do-trabalho/bw?PS=15" title="BW">BW</a></li>
                            <li><a href="/seguranca-do-trabalho/criffer?PS=15" title="Criffer">Criffer</a></li>
                            <li><a href="/seguranca-do-trabalho/extech?PS=15" title="Extech">Extech</a></li>
                            <li><a href="/seguranca-do-trabalho/zipflex?PS=15" title="zipflex">zipflex</a></li>
                            <li><a href="/seguranca-do-trabalho/instrutemp?PS=15" title="Instrutemp">Instrutemp</a></li>
                            <li><a href="/seguranca-do-trabalho/instrutherm?PS=15" title="Instrutherm">Instrutherm</a></li>
                            <li><a href="/seguranca-do-trabalho/minipa?PS=15" title="Minipa">Minipa</a></li>
                            <li><a href="/seguranca-do-trabalho/testo?PS=15" title="Testo">Testo</a></li>
                        </ul>
                    </div>
                    <div class="y-menu__submenu--banner">
                        <a href="/mecaninca">
                            <img src="/arquivos/mecanica-banner-menu.png" alt="Mecânica" />
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/locacao-de-equipamentos">Locação</a>
        </li>
        <li class="y-menu__departamento--item y-mobile y-destaque">
            <a href="#">zipflex</a>
        </li>
        <li class="y-menu__departamento--item y-mobile">
            <a href="/quem-somos">Quem Somos</a>
        </li>
        <li class="y-menu__departamento--item y-mobile">
            <a href="/fale-conosco">Fale Conosco</a>
        </li>
    </ul>
</nav>