<nav class="y-menu">
    <ul class="y-menu__departamento">
        <li class="y-menu__departamento--item">
            <a href="/analise-de-gases">Análise de Gases</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/eletro-eletronica">Eletro-Eletrônica</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/ensaios-eletricos">Ensaios</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/laboratorio">Laboratório</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/mecanica">Mecânica</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/metrologia">Metrologia</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/seguranca-do-trabalho">Seguranca do Trabalho</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/locacao-de-equipamentos">Locação</a>
        </li>
    </ul>
</nav>