<nav class="y-menu">
    <ul class="y-menu__departamento">
        <li class="y-menu__departamento--item">
            <a href="/asnovidades?PS=36&O=OrderByReleaseDateDESC">Novidades</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/soft-home?PS=36&O=OrderByReleaseDateDESC">Coleção Soft Home</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/feminino/calcados?PS=36&O=OrderByReleaseDateDESC">Calçados</a>
        </li>
        <li class="y-menu__departamento--item">
            <a href="/feminino/bolsas-e-acessorios?PS=36&O=OrderByReleaseDateDESC">Bolsas</a>
        </li>
        <li class="y-menu__departamento--item destaque">
            <a href="/outlet?fq=C:2&fq=H:141&PS=36&O=OrderByReleaseDateDESC">Outlet</a>
        </li>
    </ul>
    <ul class="y-menu__institucional">
        <li class="y-menu__institucional--item">
            <a href="/seja-um-franqueado">Seja um franqueado</a>
        </li>
        <li class="y-menu__institucional--item">
            <a href="/nossas-lojas">Nossas Lojas</a>
        </li>
    </ul>
</nav>