<article class="y-atendimento">
    <div class="y-atendimento__box">
        <div class="y-atendimento__title">
            <p>Bem Vinda(o) a <strong>Highmed</strong>! Por favor, escolha a área que deseja conversar e teremos todo o prazer em atendê-lo(a)</p>
        </div>
        <div class="y-atendimento__option">
            <a href="#" target="_blank" class="y-atendimento__option--item">
                <div class="y-atendimento__option--item-img">
                    <img src="/arquivos/sac-1.png" alt="SAC" />
                </div>
                <div class="y-atendimento__option--item-info">
                    <h3 class="y-atendimento__option--item-title">Suporte na Compra</h3>
                    <p class="y-atendimento__option--item-description">Não sabe qual o melhor produto para sua necessidade? Nosso consultor está aqui para te ajudar!</p>
                </div>
            </a>
            <a href="#" target="_blank" class="y-atendimento__option--item">
                <div class="y-atendimento__option--item-img">
                    <img src="/arquivos/sac-2.png" alt="SAC" />
                </div>
                <div class="y-atendimento__option--item-info">
                    <h3 class="y-atendimento__option--item-title">SAC</h3>
                    <p class="y-atendimento__option--item-description">Dúvidas com seu pedido ou orçamento? Estamos aqui para te ajudar!</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="y-atendimento__close">
        <span>+</span>
    </div>

    <a href="#" target="_blank" class="y-atendimento__whatsapp is--hide">
        <span>Atendimento <strong>Especializado</strong></span>
        <i class="fa fa-whatsapp"></i>
    </a>
</article>