<section class="y-benefits">
    <div class="container">
        <div class="y-benefits__content">
            <div class="y-benefits__item">
                <vtex.cmc:iconparcelamento />
                <p>Parcele em até 6x sem juros*</p>
            </div>
            <div class="y-benefits__item">
                <vtex.cmc:icondelivery />
                <p>Frete grátis acima de R$ 250*</p>
            </div>
            <div class="y-benefits__item">
                <vtex.cmc:icontroca />
                <p>Troca grátis por 30 dias*</p>
            </div>
        </div>
    </div>
</section>