<section class="y-benefits">
    <div class="container">
        <div class="y-benefits__content">
            <div class="y-benefits__item">
                <vtex.cmc:iconboleto />
                <p><strong>5% de desconto</strong> no boleto</p>
            </div>
            <div class="y-benefits__item">
                <vtex.cmc:iconcard />
                <p>DIVIDIMOS EM ATÉ <strong>10x sem juros</strong></p>
            </div>
            <div class="y-benefits__item">
                <vtex.cmc:iconbarcode />
                <p><strong>28DDL</strong> para empresas</p>
            </div>
            <div class="y-benefits__item">
                <vtex.cmc:iconiso />
                <p>CERTIFICAÇÃO <strong>ISO 9001</strong></p>
            </div>
            <div class="y-benefits__item">
                <vtex.cmc:iconmap />
                <p>COMPRE ONLINE <strong>& RETIRE AQUI</strong></p>
            </div>
        </div>
    </div>
</section>