<div class="y-find__item">
    <h4 class="y-find__title">Análise <strong>de Gases</strong></h4>
    <p class="y-find__description">Equipamentos para Análise de Gases <strong>zipflex</strong>, o Melhor Preço! Parcele até 10x Sem Juros. Empresa Certificada ISO.</p>
    <a href="#" class="y-find__cta">Veja mais</a>
</div>
<div class="y-find__item">
    <h4 class="y-find__title">Segurança <strong>do Trabalho</strong></h4>
    <p class="y-find__description">Equipamentos para Análise de Gases <strong>zipflex</strong>, o Melhor Preço! Parcele até 10x Sem Juros. Empresa Certificada ISO.</p>
    <a href="#" class="y-find__cta">Veja mais</a>
</div>
<div class="y-find__item">
    <h4 class="y-find__title"><strong>Mecânica</strong></h4>
    <p class="y-find__description">Equipamentos para Análise de Gases <strong>zipflex</strong>, o Melhor Preço! Parcele até 10x Sem Juros. Empresa Certificada ISO.</p>
    <a href="#" class="y-find__cta">Veja mais</a>
</div>
<div class="y-find__item">
    <h4 class="y-find__title">Análise <strong>de Gases</strong></h4>
    <p class="y-find__description">Equipamentos para Análise de Gases <strong>zipflex</strong>, o Melhor Preço! Parcele até 10x Sem Juros. Empresa Certificada ISO.</p>
    <a href="#" class="y-find__cta">Veja mais</a>
</div>