.y-banner__main {
	width: 100%;
	margin: 0 auto;
	position: relative;

	&>.box-banner {
		display: none;

		&:first-child {
			display: block;
		}
	}

	.box-banner {
		width: 100%;

		a {
			display: block;
	
			img {
				width: 100%;
			}
		}
	}

	.slick {
		&-arrow {
			&.slick {
				&-prev {
					left: 36px;
				}
				&-next {
					right: 36px;
				}
			}
			
			&::after {
				color: $color-white;
			}
		}

		&-dots {
			margin: 0;
			position: absolute;
			bottom: 20px;

			li {
				button {
					background: transparent;
					border-color: $color-white;
				}

				&.slick-active {
					button {
						background: $color-white;
					}
				}
			}
		}
	}
}

.y-half {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 22px auto 45px;

	@include breakpoint('mobile') {
		display: block;
		margin: 15px auto 25px;
	}
}