#set($productId = $product.Id) 
#set($productTitle = $product.HtmlEscapedName) 
#set($productLink = $product.Uri) 
#set($productListPrice = $product.ListPrice) 
#set($productBestPrice = $product.BestPrice) 
#set($productInstallmentValue = $product.InstallmentValue)

<article class="y-shelf__item has--carousel js--shelf-item" data-product-id="$productId">
    <div class="y-shelf__item-img">
        <a class="y-shelf__item-img__img" title="$productTitle" href="$productLink">
			$product.GetImageTag(162,162)
		</a>
    </div>
    <div class="y-shelf__item-content">

        <h2 class="y-shelf__item-name" title="$productTitle">
            <a href="$productLink">
				$productTitle
			</a>
        </h2>
        
        #if ($product.IsInStock)
            <div class="y-shelf__item-compared">
                $product.Compare
            </div>

            <div class="y-shelf__item--price">
                #if ($product.HasBestPrice)
                    <p class="y-shelf__item--price-old">
                        <del>$product.ListPrice</del>
                    </p>
                #end

                #if ($product.BestPrice > 1)
                    <p class="y-shelf__item--price-new">
                        $product.BestPrice
                    </p>
                #end

                <p class="y-shelf__item--installment">
                    #if ($product.NumbersOfInstallment > 1)
                    ou <strong>${product.NumbersOfInstallment}x</strong> de <strong>$product.InstallmentValue</strong>
                    #end
                </p>
            </div>
        #else
            <p class="y-shelf__item-outStcok-text">Sob Consulta</p>
        #end
    </div>
</article>

