@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;600;700;800;900&display=swap');

$font-main: 'MuseoModerno', cursive;
$font-roboto: 'Roboto', sans-serif;


$color-main: #F07F3C;
$color-yellow: #F7EC00;
$color-blue: #00AEEF;
$color-pink: #D60C8C;
$color-orange: #F58220;
$color-green: #25D366;
$color-darkgreen: #39A367;

$color-gradiente: linear-gradient(270deg, #F7EC00 -10.05%, #EE3524 100%);

$color-white: #FFFFFF;
$color-black: #2D2926;

$color-gray-1: #F5F5F5;
$color-gray-2: #E6E6E6;
$color-gray-3: #DFDFDF;
$color-gray-4: #C8C8C8;
$color-gray-6: #858585;
$color-gray-7: #939393;
$color-gray-8: #1F1C1A;