.y-minicart {
    position: relative;
    z-index: 9999;

    @include breakpoint('desktop') {
        &:hover {
            .y-minicart__content {
                display:block;
                padding-top: 35px;
            }
        }
    }

    .portal-totalizers-ref {
        .cartInfoWrapper {
            .title {
                display: none;
            }

            .cart-info {
                .amount-products {
                    position: absolute;
                    top: -7px;
                    left: 20px;
                    z-index: 99;
                    
                    text-align: center;
                    color: $color-white;
                    font-size: 10px;
                    line-height: 16px;
                    font-weight: 700;

                    
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: $color-main;

                    @include breakpoint('mobile') {
                        top: -10px;
                        right: 0;
                    }

                    strong {
                        display: none;
                    }

                    em {
                        font-style: normal;
                    }
                }

                .amount-items,
                .amount-kits,
                .total-cart {
                    display: none;
                }
            }
        }
    }

    @include breakpoint('mobile') {
        padding-right: 15px;
    }

    &.is--active {
        z-index: 99999;
        
        &>button {
            right: 427px;
            z-index: 9999;
        }
    }
    
    &--icon {
        cursor: pointer;
        display: flex;
        align-items: center;

        span {
            margin-left: 10px;
            color: $color-gray-8;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    &-close {
        cursor: pointer;
        color: $color-black;
        font-size: 40px;
        font-weight: 100;
        transform: rotate(-45deg);
    }

    &__content {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 500;
        background-color: $color-white;
        width: 427px;
        height: 753px;
        transition: all 325ms ease-in;
        z-index: 9999999;
        box-shadow: 0 3px 6px rgba($color: $color-black, $alpha: .16);

        &--title {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 22px;
            font-weight: 700;
            color: #2D2926;
        }
        
        &.is--active {
            @include breakpoint('mobile') {
                display: block;
                width: 100vw;
                height: 100vw;
                top: 65px;
                right: -9px;
            }
        }
    }

    &-items {
        &__list {
            max-height: 70vh;
            overflow: auto;
            
            &::-webkit-scrollbar-button {
                display: none;
            }
            
            &::-webkit-scrollbar {
                width: 3px;
                background-color: rgba(204, 204, 204, 0.7);
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: $color-black;
            }

            li {
                display: flex;
                justify-content: space-between;
                padding: 7px 12px;
                border-bottom: 1px solid $color-main;

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    &-img {
        width: 165px;
        margin-right: 20px;

        img {
            display: block;
            width: 100%;
        }
    }

    &-item {
        display: block;
        margin-right: 23px;
        text-align: left;

        &__name {
            color: #2D2926;
            height: 32px;
            overflow: hidden;
            margin: 18px 0 8px 0;
            font-size: 12px;
            line-height: 15px;
            font-weight: 300;
            text-align: left;
            display: block;
        }

        &__bottom {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    &-remove__item {
        display: block;
        cursor: pointer;
        width: 15px;
        height: 15px;
        line-height: 15px;
        border: 0;

        .icon {
            svg {
                display: block;
            }
        }
    }
    
    &-qty {
        font-size: 10px;
        font-weight: 300;
        color: #2D2926;
        margin-right: 14px;
    }

    &-price {
        p {
            text-align: left;
            color: #2D2926;
            font-size: 14px;
            font-weight: 700;
            line-height: 23px;

            span {
                display: block;
                font-size: 8px;
                font-weight: 300;
                color: #939393;
            }
        }
    }

    &__form {
        width: 110px;
        height: 35px;
        border: 1px solid $color-gray-8;
        border-radius: 40px;
            
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 2px;
        
        &-btn {
            cursor: pointer;

            width: 31px;
            height: 31px;
            line-height: 31px;
            text-align: center;

            background-color: $color-gray-8;
            border: 0;
            border-radius: 50%;
            
            font-size: 18px;
            font-weight: 700;
            color: $color-white;
        }

        &-ipt {
            width: 31px;
            height: 31px;
            line-height: 31px;
            text-align: center;

            font-size: 20px;
            font-weight: 100;
            color: $color-gray-8;
            border: 0;

            &::-webkit-inner-spin-button { 
                -webkit-appearance: none;
                
            }
            & { 
                -moz-appearance: textfield;
                appearance: textfield;
            
            }
        }
    }

    &__total {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;

        p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 25px;
            border-top: 1px solid $color-gray-2;
            text-transform: uppercase;

            span {
                @include t1-b;
                line-height: 20px;
                color: $color-gray-8;
            }

            strong {
                @include t1-b;
                line-height: 23px;
                color: $color-gray-8
            }
        }
    }

    &__btn {
        cursor: pointer;
        display: block;
        text-align: center;
        color: $color-black;
        width: 100%;
        margin: 0 0 1px;
        height: 50px;
        line-height: 50px;
        background-color: $color-white;
        border: 1px solid $color-gray-8;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
    }

    &__cart {
        cursor: pointer;
        display: block;
        text-align: center;
        color: $color-white;
        width: 200px;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;
        background-color: $color-main;
        margin: 37px auto;
        font-size: 14px;
        font-weight: 900;
    }
}